<!-- main body section -->

<h3 class="faq-heading" translate="faqpage.heading"></h3>
<div class="panel-group container" id="accordion'">

    <div class="panel panel-default">
        <div class="panel-heading ">
            <h4 class="panel-title">
                <a role="button" [attr.data-toggle]="'collapse'" class="collapsed" [attr.data-parent]="'#accordion'" href="#collapse1" translate="faqpage.question1"></a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse ">
            <div>
                <div class="panel-body" translate="faqpage.answer1"></div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading ">
            <h4 class="panel-title">
                <a role="button" [attr.data-toggle]="'collapse'" class="collapsed" [attr.data-parent]="'#accordion'" href="#collapse2" translate="faqpage.question2"></a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse ">
            <div>
                <div class="panel-body" translate="faqpage.answer2"></div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading ">
            <h4 class="panel-title">
                <a role="button" [attr.data-toggle]="'collapse'" class="collapsed" [attr.data-parent]="'#accordion'" href="#collapse3" translate="faqpage.question3"></a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse ">
            <div>
                <div class="panel-body" translate="faqpage.answer3"></div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading ">
            <h4 class="panel-title">
                <a role="button" [attr.data-toggle]="'collapse'" class="collapsed" [attr.data-parent]="'#accordion'" href="#collapse4" translate="faqpage.question4"></a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse ">
            <div>
                <div class="panel-body">
                    <span translate="faqpage.answer4-1"></span>
                    <br>
                    <span translate="faqpage.answer4-2"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading ">
            <h4 class="panel-title">
                <a role="button" [attr.data-toggle]="'collapse'" class="collapsed" [attr.data-parent]="'#accordion'" href="#collapse5" translate="faqpage.question5"></a>
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse ">
            <div>
                <div class="panel-body" translate="faqpage.answer5"></div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading ">
            <h4 class="panel-title">
                <a role="button" [attr.data-toggle]="'collapse'" class="collapsed" [attr.data-parent]="'#accordion'" href="#collapse6" translate="faqpage.question6"></a>
            </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse ">
            <div>
                <div class="panel-body" translate="faqpage.answer6"></div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading ">
            <h4 class="panel-title">
                <a role="button" [attr.data-toggle]="'collapse'" class="collapsed" [attr.data-parent]="'#accordion'" href="#collapse7" translate="faqpage.question7"></a>
            </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse ">
            <div>
                <div class="panel-body" translate="faqpage.answer7"></div>
            </div>
        </div>
    </div>
</div>
<!-- main body section -->