<!-- Header -->
<div class="navbar-wrapper" id="main-navigation" *ngIf="!config.isNativeApp">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand home-logo" routerLink="/"><img src="../../assets/images/logo-home.png"></a>
                    <a class="navbar-brand main-logo" routerLink="/"><img src="../../assets/images/logo-home.png"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a routerLink="/" translate="headerfooter.home"></a>
                        </li>
                        <li class="dropdown dropMenu">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span translate="headerfooter.brain9d"></span> <span class="caret-dw"></span></a>
                            <ul class="dropdown-menu first-dd">
                                <li>
                                    <a routerLink="/brain9d" translate="headerfooter.whatisbrain9d"></a>
                                </li>
                                <li>
                                    <a routerLink="/how-it-works" translate="headerfooter.howitworks"></a>
                                </li>
                                <li>
                                    <a routerLink="/membership" translate="headerfooter.membership"></a>
                                </li>
                                <li>
                                    <a routerLink="/testimonials" translate="headerfooter.testimonials"></a>
                                </li>
                                <li>
                                    <a routerLink="/contact-us" translate="headerfooter.contactus"></a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a routerLink="/brain-health" translate="headerfooter.brainhealth"></a>
                        </li>
                        <li class="dropdown">
                            <a routerLink="/learning-center" translate="headerfooter.education"></a>
                        </li>
                        <li class="dropdown">
                            <a routerLink="/blog" translate="headerfooter.blog"></a>
                        </li>
                        <li class="dropdown">
                            <a routerLink="/brain-shop" translate="headerfooter.brainshop"></a>
                        </li>

                        <li class="dropdown useraccount languages dropMenu">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="flag flag-{{ config.currentLanguage?.lang_code }}"></span><span [innerHtml]="config.currentLanguage?.lang_label"></span> <span class="caret-dw"></span></a>
                            <ul class="dropdown-menu last-dd">
                                <li *ngFor="let language of config.languages">
                                    <a (click)="applyLanguageChange(language.lang_code)">
                                        <span class="flag flag-{{ language.lang_code}}"></span>{{ language.lang_label }}
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="login"><a [href]="config.appDomain+'login'" target="_blank"><i class="fa fa-user" aria-hidden="true"></i> <span translate="headerfooter.login"></span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>