<footer>
    <div class="container">
        <div class="col-md-4 col-sm-4">
            <ul>
                <h3 translate="headerfooter.quicklinks"></h3>
                <li>
                    <a routerLink="/brain9d" translate="headerfooter.brain9d"></a>
                </li>
                <li>
                    <a routerLink="/how-it-works" translate="headerfooter.howitworks"></a>
                </li>
                <li>
                    <a [href]="config.appDomain+'demograph'" target="_blank" translate="headerfooter.demograph"></a>
                </li>
                <li>
                    <a routerLink="/employment" translate="headerfooter.careers"></a>
                </li>
                <li>
                    <a routerLink="/contact-us" translate="headerfooter.contactus"></a>
                </li>
                <li>
                    <a routerLink="/copyrights" translate="headerfooter.copyrights"></a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4 members-links">
            <ul>
                <h3 translate="headerfooter.memberlinks"></h3>
                <li>
                    <a [href]="config.appDomain + 'dashboard'" target="_blank" translate="headerfooter.memberworkspace"></a>
                </li>
                <li>
                    <a [href]="config.appDomain + 'brain-and-mental'" target="_blank" translate="headerfooter.brainandmental"></a>
                </li>
                <li>
                    <a [href]="config.appDomain + 'mood-and-behavioral'" target="_blank" translate="headerfooter.cognitiveandbehavioural"></a>
                </li>
                <li>
                    <a routerLink="/faq" translate="headerfooter.faq"></a>
                </li>
                <li>
                    <a routerLink="/terms-and-conditions" translate="headerfooter.termsandconditions"></a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 social-col col-sm-4">
            <h3 translate="headerfooter.followus"></h3>
            <p>
                <a href="https://www.facebook.com/brain9dbrainfitness/" target="_blank"><img src="../assets/images/footer-icons/facebook.png"></a>
                <!-- <a href="https://twitter.com/search?q=brain9d" target="_blank"><img src="../assets/images/footer-icons/twitter.png"></a> -->
                <a href="https://plus.google.com/u/0/b/106617861268642769811/106617861268642769811" target="_blank"><img src="../assets/images/footer-icons/google.png"></a>
                <a href="https://www.youtube.com/channel/UC431O0UwhAOELyItx4rBFWQ?spfreload=10" target="_blank"><img src="../assets/images/footer-icons/youtube.png"></a>
            </p>
            <p>
                <!-- <a href="https://my.linkedin.com/in/brain-nan-208b2a12a" target="_blank"><img src="../assets/images/footer-icons/linkdin.png"></a> -->
                <!-- <a href="https://www.pinterest.com/nanmalik/brain9d/" target="_blank"><img src="../assets/images/footer-icons/pinterest.png"></a> -->
                <!-- <a href="https://www.youtube.com/channel/UC431O0UwhAOELyItx4rBFWQ?spfreload=10" target="_blank"><img src="../assets/images/footer-icons/youtube.png"></a> -->
            </p>
        </div>
    </div>
    <div class="copyrights">
        <p id="year"><span translate="headerfooter.footercopyrights"></span> &copy; <span class="year">{{ copyrightDate }}</span>
        </p>
    </div>
</footer>