<div class="main-area">
  <div class="container-fluid user-account-container">
    <div class="row">
        
      <div id="externalContainer" class="text-center">
      </div>

    </div>
  </div>
</div>
  