<!-- main body section -->
<div class="main-area">
    <h3 class="faq-heading" translate="homepage.testimonialsheading"></h3>
    <div class="container">
        <div class="row">
            <div *ngFor="let fb of feedbacks" class="col-sm-12">
                <div id="tb-testimonial" class="testimonial testimonial-primary">
                    <div class="testimonial-desc">
                        <img [src]="fb.fbk_image">
                        <div class="testimonial-writer">
                            <div class="testimonial-writer-name">{{fb.feedbackUser.usr_first_name}} {{fb.feedbackUser.usr_last_name}}</div>
                            <div class="testimonial-writer-designation"> {{fb.fbk_created_at.replace(" ", "T")+".000Z" | date : "medium"}} </div>
                        </div>
                    </div>
                    <div class="testimonial-section">
                        <span *ngIf="fb.fbk_feedback_message">"{{fb.fbk_feedback_message}}"</span>
                        <p class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i [ngClass]="{'rating-light': fb.fbk_star_rating < 2}" class="fa fa-star" aria-hidden="true"></i>
                            <i [ngClass]="{'rating-light': fb.fbk_star_rating < 3}" class="fa fa-star" aria-hidden="true"></i>
                            <i [ngClass]="{'rating-light': fb.fbk_star_rating < 4}" class="fa fa-star" aria-hidden="true"></i>
                            <i [ngClass]="{'rating-light': fb.fbk_star_rating < 5}" class="fa fa-star" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination pull-right">
            <li [ngClass]="{'disabled': currentPage==1}">
                <a (click)="getFeedback(currentPage-1)">&laquo;</a>
            </li>
            <li [ngClass]="{'active':page.isCurrent}" *ngFor="let page of pagination">
                <a (click)="getFeedback(page.page_num)">{{page.page_num}}</a>
            </li>
            <li [ngClass]="{'disabled': currentPage==totalPages}">
                <a (click)="getFeedback(currentPage+1)">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<!-- main body section -->