.hiw {
    padding: 50px 15px;
    background: #00acb80d;
}
.hiw .section-heading {
    font-size: 36px;
    color: #00acb8;
    text-align: center;
    margin-bottom: 30px;
}
.hiw .description p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 25px;
}
.hiw .video,
.hiw .video-separator {
    float: right;
}
.hiw .video > .hiw-video {
    height: 250px;
    border: solid 5px;
}
#steps {
    margin-top: 15px;
    margin-bottom: 30px;
}
#steps ul {
    padding: 0;
    text-align: center;
}
#steps ul li {
    width: 33%;
    display: inline-block;
    position: relative;
}
.step .number {
    font-size: 28px;
    font-weight: 600;
    border: solid 2px #eee;
    border-radius: 50%;
    text-align: center;
    height: 45px;
    width: 45px;
    margin: 0 auto;
    line-height: 39px;
}
.step .number:after,
.step .number:before {
    content: '';
    position: absolute;
    height: 1px;
    border-top: dashed 2px #ccc;
    top: 22px;
    width: calc(50% - 35px);
    right: 0;
}
.step .number:before {
    left: 0;
}
.step.step1 .number:before {
    display: none;
}
.step.step3 .number:after {
    display: none;
}
.step.step1 .number {
    color: #f2666f;
}
.step.step2 .number {
    color: #fda050;
}
.step.step3 .number {
    color: #8ec486;
}
.step .image {
    margin: 15px auto;
}
.step .step-heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}
.step .step-description {
    max-width: 225px;
    margin: 0 auto;
    font-size: 16px;
}

@media screen and (max-width: 1199px) {
    .hiw .section-heading {
        font-size: 32px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .hiw .description p {
        margin-bottom: 12px;
    }
}
@media screen and (max-width: 991px) {
    .hiw .section-heading {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .hiw .description p {
        font-size: 13px;
        margin-bottom: 7px;
    }
    .hiw .video > .hiw-video {
        height: 200px;
        border: solid 5px;
    }
    .hiw button {
        padding: 7px 10px !important;
        margin-top: 8px;
    }
    .step .step-heading,
    .step .step-description {
        font-size: 15px;
    }
    #steps ul li {
        width: 32%;
    }
}
@media screen and (max-width: 767px) {
    .hiw {
        padding: 35px 15px;
    }
    .hiw .video {
        float: none;
    }
    .hiw .video > .hiw-video {
        max-width: 300px;
        height: 175px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .step .step-heading,
    .step .step-description {
        font-size: 13px;
    }
}
@media screen and (max-width: 649px) {
    #steps ul li {
        width: 100%;
        margin-bottom: 25px;
    }
    #steps ul li .number:before,
    #steps ul li .number:after {
        display: none;
    }
}