
<div class="container-fluid hiw">
    <div class="row">
        <div class="container">
            <h4 class="section-heading" translate="hiwsection.heading"></h4>
            <!-- Three columns of text below the carousel -->
            <div class="row" id="steps">
                <div class="col-sm-12">
                    <ul>
                        <li class="step step1">
                            <div class="number">1</div>
                            <div class="image">
                                <img src="../../../assets/images/home/account.png" alt="step1">
                            </div>
                            <div class="step-heading" translate="hiwsection.step1heading"></div>
                            <div class="step-description" translate="hiwsection.step1desc"></div>
                        </li>
                        <li class="step step2">
                            <div class="number">2</div>
                            <div class="image">
                                <img src="../../../assets/images/home/assesment.png" alt="step2">
                            </div>
                            <div class="step-heading" translate="hiwsection.step2heading"></div>
                            <div class="step-description" translate="hiwsection.step2desc"></div>
                        </li>
                        <li class="step step3">
                            <div class="number">3</div>
                            <div class="image">
                                <img src="../../../assets/images/home/track.png" alt="step3">
                            </div>
                            <div class="step-heading" translate="hiwsection.step3heading"></div>
                            <div class="step-description" translate="hiwsection.step3desc"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 video">
                    <div class="hiw-video">
                        <iframe width="100%" height="100%" src="" data-src="https://www.youtube.com/embed/Q8wc53uDM58?rel=0&showinfo=0" frameborder="0"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-1 video-separator hidden-xs">

                </div>
                <div class="col-sm-5 description">
                    <p translate="hiwsection.para1"></p>
                    <p translate="hiwsection.para2"></p>
                    <button class="btn btn-primary custom-small-btn" routerLink="/how-it-works" translate="buttons.learnmore"></button>
                </div>
            </div>
        </div>
    </div>
</div>