<div class="main-content-area container">
  <h3 class="faq-heading" translate="memorylosspage.heading"></h3>
  <p translate="memorylosspage.para1"></p>
  <p translate="memorylosspage.para2"></p>
  <p translate="memorylosspage.para3"></p>
  <p translate="memorylosspage.para4"></p>
  <p translate="memorylosspage.para5"></p>
  <p class="link">
    <a [href]="config.appDomain + 'form?form_id=152'" target="_blank" translate="memorylosspage.link1"></a>
  </p>
  <p class="link">
    <a [href]="config.appDomain + 'psychotherapy'" target="_blank" translate="memorylosspage.link2"></a>
  </p>
</div>