<div class="main-content-area container">
  <h3 class="faq-heading" translate="stresspage.heading"></h3>
  <h4 class="sub-heading text-center" translate="stresspage.subheading"></h4>
  <p translate="stresspage.para1"></p>
  <p translate="stresspage.para2"></p>
  <p translate="stresspage.para3"></p>
  <p translate="stresspage.para4"></p>
  <p translate="stresspage.para5"></p>
  <p class="link"><a [href]="config.appDomain + 'form?form_id=165'" target="_blank" translate="stresspage.link1"></a></p>
  <!-- <p class="link"><a [href]="" target="_blank" translate="stresspage.link2"></a></p> -->
</div>