.sub-heading {
    font-weight: 600;
    font-style: italic;
    margin-bottom: 30px;
    font-size: 24px;
}
.sub-heading:before, .sub-heading:after {
    content: '"';
}
p.link {
    margin-bottom: 5px;
}