.ad-sec {
    background-image: url('../../../assets/images/ads-bg.jpg');
    height: 250px;
    background-size: cover;
    background-position: 100% 50%;
    background-color: #f3f3f3;
    margin-bottom: 20px;
}
.ad-sec .content {
    max-width: 550px;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 50px;
}
.ad-sec .content h2 {
    margin-top: 0;
    color: #00acb8;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 1px;
}
.ad-sec .content p {
    font-size: 18px;
}
.post-an-ad {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: solid 2px #fff;
    background: #fff;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #00acb8;
}
.post-an-ad:hover {
    background: transparent;
    color: #fff;
    text-decoration: none;
}
.ad-sec .badge {
    position: absolute;
    padding: 23px 10px;
    height: 150px;
    width: 125px;
    background-size: cover;
    background-position: 50% 100%;
    box-shadow: 0 0 10px #ccc;
    top: 0;
    background-image: url('../../../assets/images/ads-badge.png');
    right: 38%;
}
.badge .starting-from {
    width: 100px;
    margin-left: 7px;
    font-weight: 600;
}
.badge .amount {
    font-size: 70px;
    margin-left: 10px;
    width: 100px;
}