<div id="ads-cta" class="container-fluid">
  <div class="row">
    <div class="col-sm-12 ad-sec">
      <div class="content">
        <h2 translate="adscta.heading"></h2>
        <p translate="adscta.description"></p>
      </div>
      <div class="badge">
        <div class="starting-from" translate="adscta.startingfrom"></div>
        <div class="amount" translate="adscta.amount"></div>
      </div>
      <a class="btn btn-primary post-an-ad" [href]="" translate="buttons.startnow"></a>
    </div>
  </div>
</div>