#inner-loader-container {
    position: fixed;
    top: -20px;
    bottom: -56px;
    width: 100%;
    z-index: 9999;
    background: rgba(0,0,0,0.7);
  }
  .inner-loader {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%)translateY(-50%);
    -moz-transform: translateX(-50%)translateY(-50%);
    transform: translateX(-50%)translateY(-50%);
  }