.brain9d {
    padding: 50px 15px;
}
.brain9d .description .section-heading {
    font-size: 36px;
    color: #00acb8;
    margin-bottom: 30px;
}
.brain9d .description p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 25px;
}
.brain9d .image img {
    margin: 0 auto;
}

@media screen and (max-width: 1199px) {
    .brain9d .description .section-heading {
        font-size: 32px;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .brain9d .description p {
        margin-bottom: 12px;
    }
}
@media screen and (max-width: 991px) {
    .brain9d .description .section-heading {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .brain9d .description p {
        font-size: 13px;
        margin-bottom: 7px;
    }
    .brain9d button {
        padding: 7px 10px !important;
        margin-top: 8px;
    }
}
@media screen and (max-width: 767px) {
    .brain9d .image img {
        margin-bottom: 25px;
    }
    .brain9d {
        padding: 35px 15px;
    }
}