<div class="container brain9d">
  <div class="row">
    <div class="col-sm-5 col-md-5 image">
      <img class="img-responsive" src="../../../assets/images/home/brain.png" alt="What is brain9d"/>
    </div>
    <div class="col-sm-7 col-md-7 description">
      <h3 class="section-heading" translate="brain9dsection.heading"></h3>
      <p translate="brain9dsection.para1"></p>
      <p translate="brain9dsection.para2"></p>
      <p translate="brain9dsection.para3"></p>
      <button class="btn btn-primary custom-small-btn" routerLink="/brain9d" translate="buttons.learnmore"></button>
    </div>
  </div>
</div>