.scene-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: #333;
  }
  .scene {
    width: 100%;
    height: 100%;
    -webkit-perspective: 600;
            perspective: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .scene svg {
    width: 150px;
    height: 150px;
  }
  
  @-webkit-keyframes arrow-spin {
    50% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  
  @keyframes arrow-spin {
    50% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }