#ads-cta {
    background: #00ddec;
    padding: 30px 15px;
}

#ads-cta h3 {
    margin: 0;
    color: #fff;
    height: 36px;
    line-height: 36px;
}

.btnc {
    text-align: right;
}

.btnc>a {
    color: #00acb8;
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 25px;
    border: solid 2px #fff;
    text-decoration: none;
    background: #fff;
    box-shadow: 0 0 15px;
    display: inline-block;
    text-align: center;
}

.btnc>a:hover {
    background: transparent;
    color: #fff;
}

@media screen and ( max-width: 991px) {
    #ads-cta h3 {
        height: auto;
        line-height: 30px;
    }
    .btnc>a {
        margin-top: 12px;
    }
}

@media screen and ( max-width: 767px) {
    #ads-cta h3,
    .btnc {
        text-align: center
    }
}