<div id="ads-cta" class="container-fluid">
    <div class="row">
        <div class="container add-ad">
            <div class="col-sm-8 col-md-9">
                <h3 translate="messages.promotebrand"></h3>
            </div>
            <div class="col-sm-4 col-md-3 btnc">
                <a [href]="config.appDomain + 'signup'" target="_blank" translate="buttons.postanad"></a>
            </div>
        </div>
    </div>
</div>