/*
 * Start Bootstrap - Full Slider (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

html,
.body.home {
    height: 100%;
}

.home .carousel,
.home .item,
.home .active {
    height: 100%;
}

.home .carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.home .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
