.navbar-wrapper {
  background: #ebebeb none repeat scroll 0 0 !important;
  left: 0;
  margin: 0 !important;
  position: relative;
  right: 0;
  top: 0;
  z-index: 20;

}
@media (min-width: 768px) {
  .home .navbar-wrapper {
    background: transparent !important;
  }
}
nav {
  padding: 20px 0 !important;
}
.navbar-inverse .navbar-toggle {
  border:0px;
  background:#000;
}
.notHome .navbar {
  border: 0px solid rgba(0, 0, 0, 0);
}
.navbar{
  margin-bottom: 0px;
}
.notHome .navbar-inverse .navbar-nav > .active > a,
.notHome .navbar-inverse .navbar-nav > .active > a:focus,
.notHome .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #000;
}
.notHome .navbar-inverse .navbar-nav > li > a:focus,
.notHome .navbar-inverse .navbar-nav > li > a:hover {
  color: #00acb8;
}
.notHome .dropdown a:hover {
  color: #00acb8 !important;
}
.notHome .dropdown-menu a:hover {
  color: #fff !important;
}
.notHome .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color: rgb(0, 172, 184);
  color: rgb(255, 255, 255) !important;
  text-decoration: none;
}
.custom-small-btn {
  font-size: 11px;
  padding: 10px 18px !important;
}
.rtl .custom-small-btn {
  font-size: 15px;
}
.web-app .custom-small-btn:hover{
  background:#ccc;
  color:#00ACB8;
}
.create-acc {
  color: rgb(127, 127, 127);
  font-size: 15px;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: right;
}
.tooltip-acc {
  padding-right: 14px;
}
.form-outline {
  text-align: center;
}
.form-outline h3 {
  color: #00ACB8;
  font-size: 32px;
  margin-bottom: 18px;
  text-transform:uppercase;
}
@media (min-width: 768px) {
.col-md-offset-custom {
  margin-left: 32%;
}
}
@media (min-width: 768px) {
.col-md-offset-custom-signup{
  margin-left: 29%;
}
}
.input-group-addon {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  color: rgb(127, 127, 127);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 0;
  text-align: center;
}
.input-group input {
  border-left: 0 none !important;
}
.input-group {
  border: 1px solid rgb(0, 172, 184);
  height: 40px !important;
  margin-bottom: 12px;
  padding: 6px;
}
.input-group-addon {
  border: 0px;
}
input{
  border: 0px !important;
  font-size:18px !important;
}
.form-control {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset;

}
.form-outline i {
  font-size: 18px;
  margin-right: 12px;
}
.forgot-pass {
  float: right;
}
.rem-chek-box {
  color: rgb(153, 153, 153);
  float: left;
  font-size: 14px;
  font-weight: normal;
}
.forgot-pass a {
  color: rgb(0, 172, 184) !important;
  font-size: 14px;
}
.captcha{

  margin-bottom:25px;
}
.fb-google {
  margin-top: 15px;
}
.or-section p {
  background: rgba(0, 0, 0, 0) url("../images/line-through.png") repeat-x scroll center center;
  padding: 22px;
}
.or-section span {
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 0 18px;
  font-size: 16px;
}
.navbar-collapse.collapse.in {
  background: none;
}
.dropdown-menu > li > a {
  color: rgb(0, 0, 0) !important;
  font-weight: 600;
  line-height: 2.429;
  padding: 6px 20px;
}
.half-space {
  padding-left: 0;
}
.last-item {
  padding-right: 0;
}
.input-group {
  width: 100%;
}
.mandatory {
  border-left: 4px solid rgb(0, 172, 184);
  color: rgb(153, 153, 153);
  float: left;
  font-size: 15px;
  margin-top: 12px;
}
.signup-page {
  float: right;
  font-size: 18px;
  text-transform: none;
  width: 43%;
}

.styled-select {

   height: 29px;
   overflow: hidden;

}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 0px; /* If you add too much padding here, the options won't show in IE */
   width: 206px;
}

.styled-select.slate {
   background: url("../images/dropdown-blue.png") no-repeat right center;

   width: 100%;
}

.styled-select.slate select {
  border: 0 solid rgb(204, 204, 204);
  color: rgb(153, 153, 153);
  font-size: 12px !important;
  font-weight: bold;
  height: 34px;

  width: 113%;
}


.dd-form input:hover {
  cursor: pointer !important;
}
.dd-form select {
  border: 0 none;
  height: 34px;
  width: 100%;
}
.madotory-border {
  border-left: 4px solid rgb(0, 172, 184);
}
@media (max-width: 992px) {
.half-space {
  padding: 0;
}
.signup-page {
  float: right;
  font-size: 17px;
  text-transform: none;
  width: 46%;
}
}
@media (max-width: 1220px) {
	input {
  border: 0 none !important;
  font-size: 14px !important;
}

}
.user-page {
  color: rgb(0, 172, 184);
  font-size: 28px;

  margin-bottom: 65px;
  margin-top: 86px;
  text-align: center;
}
.checkbox-text {
  color: rgb(153, 153, 153);
  float: left;
  font-size: 13px;
  font-weight: 600;
  margin-top: 6px;
  margin-left: 30px;
  padding-left: 0;
}
.check-style{
  float: right;
  position: absolute;
  right: 17px;
  top: 20px;
}
.agree-text {
  color: rgb(128, 128, 128);
  font-size: 14px;
  font-weight: 600;
}
.terms-con {
  color: rgb(0, 172, 184);
  font-size: 14px;
  font-weight: 600;
}
.user-page-button {
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin: 15px 0;
  text-transform: none;
  width: 100%;
}
.ui-checkbox {
    display: none;
}

.ui-checkbox + label {
  position: relative;
  padding-left: 25px;
  display: inline-block;
  font-size: 12px;
}

.ui-checkbox + label:before {
    background-color: #fff;
    border: 1px solid #30b0d7;
    padding: 9px;
    border-radius: 0px;
    display: block;
    position: absolute;
    top: 0;
    left:0;
    content: "";
}



.ui-checkbox:checked + label:before {
    border: 1px solid #30b0d7;
    color: #99a1a7;
}

.ui-checkbox.no-border:checked + label:before {
    border-color: transparent;
}



.ui-checkbox:checked + label::after {
  color: rgb(48, 176, 215);
  content: "✔";
  font-size: 22px;
  font-weight: lighter;
  left: 4px;
  position: absolute;
  top: -12px;
}
.checkbox-type label {
  position: absolute!important;
  left: 8px;
  top: 9px;
}
.panel-title > a {
  color: rgb(78, 76, 77);
  display: inline-block;
  font-weight: 600;
  overflow: -moz-hidden-unscrollable;
  text-align: center;
  width: 100%;
}
.panel-heading {
  padding: 0px 15px;
}
.panel-title a {
  padding: 35px 45px 35px 0;
}
.panel-body {
  color: rgb(0, 172, 184);
  font-size: 16px;
  font-weight: 600;
  padding: 0 0 28px;
  text-align: center;
}
.panel {
  background-color: rgb(217, 243, 244);
}
.panel.panel-default:nth-child(2n+1) {
  background: rgb(229, 247, 249) none repeat scroll 0 0;
}
.panel-default > .panel-heading {
  background-color: transparent;
}
.faq-heading {
  color: rgb(0, 172, 184);
  font-family: roboto;
  font-size: 32px;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
}
.panel-group .panel {
  border-radius: 0px;
  margin-bottom: 0;
}
.panel-default {
  border-color: transparent;
}
/*plus minus*/
.panel-title a.collapsed {
  background: rgba(0, 0, 0, 0) url("../images/plus.png") no-repeat scroll right center !important;
}
.panel-title a {
  background: rgba(0, 0, 0, 0) url("../images/minus.png") no-repeat scroll right center;
}
.dropdown-menu > li > a {
  color: rgb(0, 0, 0);
  font-weight: 600;
  line-height: 1.429;
  padding: 10px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: rgb(0, 172, 184);
}

textarea {
  border: 0 none;
  width: 100%;
  color:#000;
  -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.star-rate input {
  position:absolute;
  top: -2em;
  clip:rect(0,0,0,0);
}

.score {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  border: 0;
  font-size: 0;
}
.score legend {
  overflow: hidden;
  height: 0;
}
.score label {
  display: inline-block;
  font-size: 4rem;
  height: 1em;
  line-height: 2rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-indent: 100%;
  width: 1.2em;
}
.score label::before {
  bottom: 0;
  color: rgb(0, 172, 184);
  content: "☆";
  font-weight: lighter;
  left: 0;
  line-height: 1em;
  position: absolute;
  right: 0;
  text-indent: 0;
  top: 0;
}
.score label:hover::before, .score label:hover ~ label::before, .score input:checked ~ label::before {
  color: rgb(0, 172, 184);
  content: "★";
}
.score label:active {
  position: relative;
  top: 1px;
}
textarea {
  border: 0 none !important;
  color:#00ACB8;
  font-size: 16px !important;
  font-weight: 600;
  opacity: 1.00!important;
}

textarea::-moz-placeholder {
  color: rgb(153, 153, 153);
  opacity: 1;
}
.user-page-design{
  margin-top:0px;

}
#sidebar{
  background:#333333;

}
.form .form-group, .form-inline .form-group {
  padding-top: 15px;
}
.form-group {
  margin-bottom: 19px;
  position: relative;
}
.form-control {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  border-color: -moz-use-text-color -moz-use-text-color rgba(12, 12, 12, 0.12) !important;
  border-left: medium none !important;
  border-right: medium none !important;
  border-top: medium none !important;
  box-shadow: none !important;
  color: rgb(12, 12, 12) !important;
  font-size: 16px !important;
  height: 30px !important;
  padding: 0 !important;
}
.form-group .form-control ~ label::after, .form-group .form-control ~ .form-control-line::after {
  background-color: rgb(10, 168, 158)!important;
  bottom: 0!important;
  content: ""!important;
  height: 2px!important;
  left: 45%!important;
  position: absolute!important;
  transition: all 0.2s ease 0s!important;
  visibility: hidden!important;
  width: 10px!important;
}
.form-group .form-control:not(.static) ~ label, .form-group .form-control:not(.static) ~ .form-control-line {
  transition: all 0.2s ease 0s!important;
}
.form-group .form-control ~ label {
  font-size: 12px!important;
  margin-bottom: 0!important;
  opacity: 0.5!important;
  top: 0!important;
  padding-left: 7px;
}
.form-group .form-control ~ label, .form-group .form-control ~ .form-control-line {
  bottom: 0!important;
  left: 0!important;
  pointer-events: none!important;
  position: absolute!important;
  width: 100%!important;
}
.form-group .form-control:focus {
  border-color: rgba(12, 12, 12, 0.12)!important;
}
.form-control:focus {
  border-color: rgb(10, 168, 158)!important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(10, 168, 158, 0.6)!important;
  outline: 0 none!important;
}
.form-control:focus {
  box-shadow: none !important;
}
.form-group .form-control ~ label::after, .form-group .form-control ~ .form-control-line::after {
  background-color: rgb(10, 168, 158) !important;
  bottom: 0!important;
  content: ""!important;
  height: 2px!important;
  left: 45%!important;
  position: absolute!important;
  transition: all 0.2s ease 0s!important;
  visibility: hidden!important;

}
.form-group .form-control ~ label, .form-group .form-control ~ .form-control-line {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
}
.form-group .form-control:focus {
  border-bottom: 1px solid #00ACB8 !important;
}
.form-group input {
  border-radius: 0px !important;
}
.form-group .form-control{
  border-bottom: 1px solid #D9D9D9 !important;
}
.form-group{
  font-size:12px;
}
.gender-label{
  color:#858585;
}
.form-group fieldset {
  font-size:12px;
  font-weight:bold;
  color:#858585;
}
.dob {
  padding-bottom: 6px;
  color:#858585;
}
.select-radius {
  border-radius: 0;
}
.form-control {
  color:#00ACB8 !important;
  font-size:12px !important;
  font-weight:bold;
}
.form-dob{
  color:#00ACB8 !important;
  font-size:12px !important;
  font-weight:bold;
}
.user-account-heading {
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-bottom: 34px;
}
.user-account-headingone {
  border-bottom:  0px solid #D9D9D9;
  font-weight: 600;
  margin-top: 30px;
  padding-bottom: 34px;
}
.user-account-btn {
  font-size: 16px;
  padding: 15px 18px !important;
}
.profile-img-main {
  border: 3px solid #008088;
  border-radius: 88px;
  padding: 8px;
  width: 141px;
}
.left-user-pan{
 text-align:center;
 padding-top: 8px;
 padding-left:0px;
 padding-right:0px;
}
.left-user-pan ul{
 padding:0px;
text-align:left;
}
.profile-name a {
  color: rgb(0, 172, 184);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
}
#sidebar ul img {
  width: 26px;
  margin-right:12px;
}

#sidebar ul li  {
  list-style:none;
}
#sidebar ul li a {
  border-bottom: 1px solid rgb(80, 80, 80);
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 16px;
  padding: 12px 28px;
  width: 100%;
}
#sidebar ul li a:hover {
  background-color: rgb(0, 172, 184);
  background-image: url("../images/arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
  text-decoration:none;

}
#sidebar ul li .active {
  background-color: rgb(0, 172, 184);
  background-image: url("../images/arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
  text-decoration:none;

}
.profile-img-login {
  left: 0;
  margin-left: 7px;
  position: absolute;
  top: 0;
  width: 50px;
}
.logged-user{
  padding-left: 62px !important;
}
@media (min-width: 768px) and (max-width: 991px)  {
.nav > li > a {
  padding: 10px 4px;
}
.navbar-nav > li > a {
  font-size: 13px;
}
}
.sub-dis {
  color: rgb(128, 128, 128);
  font-size: 16px;
  margin-bottom: 60px;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.contact-us-col {
  background: rgb(242, 242, 242) none repeat scroll 0 0;
  margin-bottom: 35px;
  min-height: 335px;
  padding: 14px;
  padding-bottom: 0px;
}
.contact-us-col h4 {
  color: rgb(0, 0, 0);
  font-size: 21px;
  font-weight: 600;
}
.contact-us-col > p {
  color: #00ACB8;
  font-size: 15px;
  font-weight: 600;
}
.contact-us-col >p a {
  color: #00ACB8;

}
.send-message {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
.send-message {
  background: rgba(0, 0, 0, 0) url("../images/line-through-contact.png") repeat-x scroll center center;
  margin-bottom: 55px;
  margin-top: 20px;
}

.send-message span {
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  padding-left: 20px;
  padding-right: 20px;
}
@media  (max-width: 767px)  {
.faq-heading {
  font-size: 21px;
  padding: 22px 0;
}
.user-page {
  font-size: 21px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.form-outline h3 {
  font-size: 21px;

}
}
.drop-input-field{
    background: rgba(0, 0, 0, 0) url("../images/dropdown-blue 1.png") no-repeat scroll right center;
}
input[type=checkbox]:checked ~ .expert-fields{
   background: red;
}
.add-more-certi {
  color: rgb(133, 133, 133);
  display: inline-block;
  font-weight: 700;
  margin-bottom: 25px;

}
.form-sub-heading {
  border-left: 1px solid rgb(204, 204, 204);
  border-right: 1px solid rgb(204, 204, 204);
  color: rgb(128, 128, 128);
  font-style: italic;
  margin-bottom: 0;
}
.question {
  border-bottom: 1px solid rgb(204, 204, 204);
  border-left: 1px solid rgb(204, 204, 204);
  border-right: 1px solid rgb(204, 204, 204);
  color: rgb(76, 76, 76);
  font-size: 15px;
  font-weight: 600;
  list-style: outside none none;
  padding: 30px 22px;
  text-align: justify;
}
.choose-answer input[type="radio"] + span {
  background-color: rgb(254, 254, 254);
  border: 1px solid rgb(0, 172, 184);
  border-radius: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  display: inline-block;
  float: left;
  margin-right: 7px;
  padding: 7px;
  position: relative;
}
.choose-answer input[type="radio"]:checked + span {
  color: #f00;
}
.choose-answer input[type="radio"]:checked + span::after {
  background: rgb(0, 172, 184) none repeat scroll 0 0;
  border-radius: 50px;
  content: " ";
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
  width: 14px;
}
.choose-answer li {
  color: rgb(128, 128, 128);
  display: inline-block;
  list-style: outside none none;
  margin-right: 20px;
  margin-top: 20px;
}
.choose-answer {

  text-align: justify;
}
.choose-answer li  label{
 font-weight:normal;

}
.form-heading-border {
  padding-top: 41px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0px!important;
  padding-bottom: 26px;
}
.align-left {
  text-align: left;
}
.height-dd {
  padding: 5px 0 11px;
}
@media  (min-width: 768px) and  (max-width: 1199px) {
	.col-md-offset-custom {
  margin-left: 16%;
}
.col-md-offset-custom-signup {
  margin-left: 17%;
}
}
@media  (min-width: 1200px){
 .padding-zero{
  padding:0px;
 }
}
.or-section {
  clear: both;
}
.modal-header > h3 {
  color: rgb(0, 172, 184);
  text-align: center;
  text-transform: capitalize;
}
.form-group {
  clear: both;
}
.userform-leftspace{
  padding-left:0px;
}
.userform-rightspace {
  padding-right: 0;
}
.mandatory.user-note ul li {
  margin-bottom: 7px;
}
.mandatory.user-note{
  margin-bottom: 25px;
  margin-top:0px;
}
.choose-answer.usr-account li {
  margin-top: 6px;
}
.form-group.madotory-border {
  border-left: 4px solid rgb(0, 172, 184);
  padding-left: 7px;
}
.form-heading-border > span {
  font-size: 20px;
}
.choose-answer.usr-account {
  padding: 0;
}
.form-group.dob {
  text-align: justify;
  margin-bottom: 0;
}
.input-group select:focus{
	border:0px!important;
	outline:none;
}
@media  (max-width: 991px){
.userform-leftspace {
  padding: initial;
}
.userform-rightspace {
  padding: initial;
}
.devices-adjust {
  padding: 0;
}
}
.form-sub-heading1 {

  color: rgb(128, 128, 128);
  font-style: italic;
  margin-bottom: 20px;
}
.result-page {
  border-left: 1px solid rgb(204, 204, 204);
  border-right: 1px solid rgb(204, 204, 204);
  padding-bottom: 60px;
  padding-top: 60px;
}
.result-page-footer {
  margin-top: 0px;
}
.modebar.modebar--hover {
  display: none;
}
.brain-mental .panel-title a.collapsed {
  background: rgba(0, 0, 0, 0) url("../images/question.png") no-repeat scroll right center !important;
}
.brain-mental .panel-body {
  color: #707274;
  font-size: 15px;
  font-weight: 400;
  padding: 0 33px 25px;
  text-align: center;
  border:0px!important;
}
.brain-mental .panel-title a {
  background: rgba(0, 0, 0, 0) url("../images/question-close.png") no-repeat scroll right center;
}
.panel-heading {
  position: relative;
}
.go-form {
  font-size: 38px;
  position: absolute;
  right: 28px;
  top: 14px;
  color:#00ACB8;
}
.panel-group.container {
  margin-bottom: 6px;
}
.panel-body th {
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px){
.panel-title a {
  padding: 35px 45px 35px 0px;
  text-align: left;
  font-size: 14px;
}
}
@media (max-width: 768px){
.brain-mental .go-form {
  font-size: 38px;
  padding: 4px !important;
  position: absolute;
  right: 3px;
  top: 9px;
}
}
.brain-mental .panel-default > .panel-heading {
  background-color: rgba(0, 0, 0, 0);
  padding-right: 158px;
}
@media (max-width: 768px){
.brain-mental .panel-default > .panel-heading {

  padding-right: 53px;
}
}
.main-content-area p {
  color: rgb(51, 51, 51);
  font-size: 18px;
  margin-bottom: 30px;
  padding-left: 12px;
  text-align: justify;
}
.main-content-area p.text-center {
  text-align: center;
}
.main-content-area.container ul li {

  color: rgb(51, 51, 51);
  font-size: 18px;
}
.note-content{
  color: #00ACB8 !important;
  font-size: 18px;
}
.question.inner-form {
  border-bottom: 0 none;
  border-left: 4px solid rgb(0, 172, 184);
  border-right: 0 none;
  margin-bottom: 20px;
  padding: 0 0 0 12px;
}
#pricing-table {
  margin: 13px auto 50px;
  text-align: center;
}

	#pricing-table .plan {
		font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
		text-shadow: 0 1px rgba(255,255,255,.8);
		background: #fff;
		border: 1px solid #ddd;
		color: #333;
		padding: 20px;

		float: left;
		position: relative;
	}

	#pricing-table #most-popular {
		z-index: 2;
		top: -13px;
		border-width: 3px;
		padding: 30px 20px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
		-webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
		box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	}

	#pricing-table .plan:nth-child(1) {
		-moz-border-radius: 5px 0 0 5px;
		-webkit-border-radius: 5px 0 0 5px;
		border-radius: 5px 0 0 5px;
	}

	#pricing-table .plan:nth-child(4) {
		-moz-border-radius: 0 5px 5px 0;
		-webkit-border-radius: 0 5px 5px 0;
		border-radius: 0 5px 5px 0;
	}

	/* --------------- */

	#pricing-table h3 {
		font-size: 20px;
		font-weight: normal;
		padding: 20px;
		margin: -20px -20px 50px -20px;
		background-color: #eee;
		background-image: -moz-linear-gradient(#fff,#eee);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
		background-image: -webkit-linear-gradient(#fff, #eee);
		background-image: -o-linear-gradient(#fff, #eee);
		background-image: -ms-linear-gradient(#fff, #eee);
		background-image: linear-gradient(#fff, #eee);
	}

	#pricing-table #most-popular h3 {
  background: rgb(0, 172, 184) none repeat scroll 0 0;
  border-radius: 5px 5px 0 0;
  color: rgb(255, 255, 255);
  margin-top: -30px;
  padding-top: 30px;
}

	#pricing-table .plan:nth-child(1) h3 {
		-moz-border-radius: 5px 0 0 0;
		-webkit-border-radius: 5px 0 0 0;
		border-radius: 5px 0 0 0;
	}

	#pricing-table .plan:nth-child(4) h3 {
		-moz-border-radius: 0 5px 0 0;
		-webkit-border-radius: 0 5px 0 0;
		border-radius: 0 5px 0 0;
	}

	#pricing-table h3 span {
		display: block;
		font: bold 25px/100px Georgia, Serif;
		color: #777;
		background: #fff;
		border: 5px solid #fff;
		height: 100px;
		width: 100px;
		margin: 10px auto -65px;
		-moz-border-radius: 100px;
		-webkit-border-radius: 100px;
		border-radius: 100px;
		-moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
		-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
		box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	}

	/* --------------- */

	#pricing-table ul {
		margin: 20px 0 0 0;
		padding: 0;
		list-style: none;
	}

	#pricing-table li {
		border-top: 1px solid #ddd;
		padding: 10px 0;
	}

	/* --------------- */

	#pricing-table .signup {
		position: relative;
		padding: 8px 20px;
		margin: 20px 0 0 0;
		color: #fff;
		font: bold 14px Arial, Helvetica;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;
		background-color: #72ce3f;
		background-image: -moz-linear-gradient(#72ce3f, #62bc30);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#72ce3f), to(#62bc30));
		background-image: -webkit-linear-gradient(#72ce3f, #62bc30);
		background-image: -o-linear-gradient(#72ce3f, #62bc30);
		background-image: -ms-linear-gradient(#72ce3f, #62bc30);
		background-image: linear-gradient(#72ce3f, #62bc30);
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		text-shadow: 0 1px 0 rgba(0,0,0,.3);
		-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
		-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
		box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	}

	#pricing-table .signup:hover {
		background-color: #62bc30;
		background-image: -moz-linear-gradient(#62bc30, #72ce3f);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#62bc30), to(#72ce3f));
		background-image: -webkit-linear-gradient(#62bc30, #72ce3f);
		background-image: -o-linear-gradient(#62bc30, #72ce3f);
		background-image: -ms-linear-gradient(#62bc30, #72ce3f);
		background-image: linear-gradient(#62bc30, #72ce3f);
	}

	#pricing-table .signup:active, #pricing-table .signup:focus {
		background: #62bc30;
		top: 2px;
		-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
		-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
		box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	}

	/* --------------- */

	.clear:before, .clear:after {
	  content:"";
	  display:table
	}

	.clear:after {
	  clear:both
	}

	.clear	{
	  zoom:1
	}

.main-content-area.container ul li {
  padding-bottom: 10px;
}
.fa.fa-wpforms.fa-3 {
  color: rgb(0, 172, 184);
  font-size: 31px;
}
.fa.fa-calculator {
  color: rgb(0, 172, 184);
  font-size: 31px;
}
.dashboard-stat-list {
  list-style: outside none none;
  margin-top: 40px;
  padding-left: 0;
}
.dashboard-stat-list li {
  padding: 16px 0 0;
}

.bg-cyan {
  background-color: rgb(0, 172, 184) !important;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  padding: 5px 0 20px;
  text-align: center;
}
.dashboard-heading {
  color: rgb(0, 172, 184);
  font-size: 34px;
  padding: 27px 0;
  text-align: center;
}
.progress-bar {
  background-color: rgb(0, 188, 212);

}
.progress {
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  height: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  margin-top: 7px;
}
.bg-cyan i {
  font-size: 65px;
}
.middle-pan .panel.panel-default:nth-child(2n+1) {
  background: #333333;
  color: #fff!important;
}
.form-progress h3{
  color:#fff;
}
.custom-icon i{
 color:#fff;
}
.custom-icon-text{
 color:#fff;
}
.form-group select {

-webkit-appearance: menulist !important;

}
.search-top-bar {
  padding-top: 46px;
}
.form-listing.search-top-bar {
  padding-top: 0px;
}
.search-by {
  color: rgb(142, 142, 142);
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0 0;
}
.pagination {
  margin: 0px 0;
}
.search-results  {
  color: rgb(142, 142, 142);
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0 0;
}
.serached-results {
  padding-top: 11px;
  text-align: right;
  padding-left: 0px;
  padding-right: 0px;
}
.pagination-sm > li > a, .pagination > li > span {

  border: 0 solid rgb(221, 221, 221);
  line-height: 0;

}
.chat-detail-profile p{
  text-align:right;
}
.chat-detail-profile img {
  margin-right: 32px;
  padding-top: 15px;
  width: 55px;
}
.search-row {
  background: rgb(243, 243, 243) none repeat scroll 0 0;
  padding: 28px 11px;
  margin-bottom: 10px;
  margin-top: 10px;
-webkit-box-shadow: -4px -2px 12px 0px rgba(46, 50, 50, 0.39);
-moz-box-shadow:    -4px -2px 12px 0px rgba(46, 50, 50, 0.39);
box-shadow:         -4px -2px 12px 0px rgba(46, 50, 50, 0.39);
min-height: 168px;
}
@media (max-width: 991px){
.chat-detail-profile p{
  text-align:center;
}
.user-lists {
  width: 77px;
  margin-bottom: 20px;
}
}
@media (max-width: 1293px){
.search-row p {
  font-size: 12px;
}
}
.bottom-navigation-pager{

text-align:center;
margin-top:15px;
}
.pagination > li > a, .pagination > li > span {
  margin-right: 15px;
}
.page-link{

  background:#F3F3F3!important;
}
.page-link:hover{

  background:#E5E5E5!important;
}
.input-group .searchfield {
  border: 1px solid rgb(0, 172, 184);
  height: 30px !important;
  margin-bottom: 9px;
  padding: 0 5px;
}
.btn-search-list{
  -moz-user-select: none;
  background-image: none;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.input-groupone {
  border: 1px solid rgb(0, 172, 184);
  height: 31px !important;
  margin-bottom: 12px;
  padding: 0 12px;
}
.pagination-sm li a{
 margin-right:0px;
}
/*----------------------------------------------------*/
/*----------------- Testimonials CSS -----------------*/
/*----------------------------------------------------*/
.testimonial{
    margin-bottom: 10px;
}

    .testimonial-section {
        width: 100%;
        height: auto;
        padding: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        position: relative;
        border: 1px solid #fff;
    }
    .testimonial-section:after {
        top: -30px;
        left: 50px;
        border: solid transparent;
        content: " ";
        position: absolute;
        border-top-color: #fff;
        border-width: 15px;
        margin-left: -15px;
        z-index: -1;
    }

    .testimonial-desc {
		margin-bottom: 20px;
        text-align:left;
        padding-left: 0px;
    }
        .testimonial-desc img {
  border: 1px solid rgb(245, 245, 245);
  border-radius: 150px;
  display: inline-block;
  height: 100px;
  padding: 3px;
  vertical-align: top;
  width: 100px;
}

        .testimonial-writer{
            display: inline-block;
            vertical-align: top;
            padding-left: 10px;
        }

            .testimonial-writer-name{
                font-weight: bold;
            }

            .testimonial-writer-designation{
                font-size: 85%;
            }

            .testimonial-writer-company{
                font-size: 85%;
            }
    /*---- Outlined Styles ----*/
    .testimonial.testimonial-default{

    }
        .testimonial.testimonial-default .testimonial-section{
            border-color: #777;
        }

            .testimonial.testimonial-default .testimonial-section:after{
                border-top-color: #777;
            }

        .testimonial.testimonial-default .testimonial-desc{

        }

            .testimonial.testimonial-default .testimonial-desc img{
                border-color: #777;
            }

            .testimonial.testimonial-default .testimonial-writer-name{
                color: #777;
            }

    .testimonial.testimonial-primary{

    }
        .testimonial.testimonial-primary .testimonial-section{
            border-color: #337AB7;
            color: #286090;
            background-color: rgba(51, 122, 183, 0.1);
            margin-bottom: 25px;
        }

            .testimonial.testimonial-primary .testimonial-section:after{
                border-bottom-color: #337AB7;
            }

        .testimonial.testimonial-primary .testimonial-desc{

        }

            .testimonial.testimonial-primary .testimonial-desc img{
                border-color: #337AB7;
            }

            .testimonial.testimonial-primary .testimonial-writer-name{
                color: #337AB7;
            }

    .testimonial.testimonial-info{

    }
        .testimonial.testimonial-info .testimonial-section{
            border-color: #5BC0DE;
            color: #31b0d5;
            background-color: rgba(91, 192, 222, 0.1);
        }

            .testimonial.testimonial-info .testimonial-section:after{
                border-top-color: #5BC0DE;
            }

        .testimonial.testimonial-info .testimonial-desc{

        }

            .testimonial.testimonial-info .testimonial-desc img{
                border-color: #5BC0DE;
            }

            .testimonial.testimonial-info .testimonial-writer-name{
                color: #5BC0DE;
            }


    .testimonial.testimonial-success{

    }
        .testimonial.testimonial-success .testimonial-section{
            border-color: #5CB85C;
            color: #449d44;
            background-color: rgba(92, 184, 92, 0.1);
        }

            .testimonial.testimonial-success .testimonial-section:after{
                border-top-color: #5CB85C;
            }

        .testimonial.testimonial-success .testimonial-desc{

        }

            .testimonial.testimonial-success .testimonial-desc img{
                border-color: #5CB85C;
            }

            .testimonial.testimonial-success .testimonial-writer-name{
                color: #5CB85C;
            }

    .testimonial.testimonial-warning{

    }
        .testimonial.testimonial-warning .testimonial-section{
            border-color: #F0AD4E;
            color: #d58512;
            background-color: rgba(240, 173, 78, 0.1);
        }

            .testimonial.testimonial-warning .testimonial-section:after{
                border-top-color: #F0AD4E;
            }

        .testimonial.testimonial-warning .testimonial-desc{

        }

            .testimonial.testimonial-warning .testimonial-desc img{
                border-color: #F0AD4E;
            }

            .testimonial.testimonial-warning .testimonial-writer-name{
                color: #F0AD4E;
            }

    .testimonial.testimonial-danger{

    }
        .testimonial.testimonial-danger .testimonial-section{
            border-color: #D9534F;
            color: #c9302c;
            background-color: rgba(217, 83, 79, 0.1);
        }

            .testimonial.testimonial-danger .testimonial-section:after{
                border-top-color: #D9534F;
            }

        .testimonial.testimonial-danger .testimonial-desc{

        }

            .testimonial.testimonial-danger .testimonial-desc img{
                border-color: #D9534F;
            }

            .testimonial.testimonial-danger .testimonial-writer-name{
                color: #D9534F;
            }

    /*---- Filled Styles ----*/
    .testimonial.testimonial-default-filled{

    }
        .testimonial.testimonial-default-filled .testimonial-section{
            color: #fff;
            border-color: #777;
            background-color: #777;
        }

            .testimonial.testimonial-default-filled .testimonial-section:after{
                border-top-color: #777;
            }

        .testimonial.testimonial-default-filled .testimonial-desc{

        }

            .testimonial.testimonial-default-filled .testimonial-desc img{
                border-color: #777;
                background-color: #777;
            }

            .testimonial.testimonial-default-filled .testimonial-writer-name{
                color: #777;
            }

    .testimonial.testimonial-primary-filled{

    }
        .testimonial.testimonial-primary-filled .testimonial-section{
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
        }

            .testimonial.testimonial-primary-filled .testimonial-section:after{
                border-top-color: #337AB7;
            }

        .testimonial.testimonial-primary-filled .testimonial-desc{

        }

            .testimonial.testimonial-primary-filled .testimonial-desc img{
                border-color: #2e6da4;
                background-color: #337ab7;
            }

            .testimonial.testimonial-primary-filled .testimonial-writer-name{
                color: #337AB7;
            }

    .testimonial.testimonial-info-filled{

    }
        .testimonial.testimonial-info-filled .testimonial-section{
            color: #fff;
            background-color: #5bc0de;
            border-color: #46b8da;
        }

            .testimonial.testimonial-info-filled .testimonial-section:after{
                border-top-color: #5BC0DE;
            }

        .testimonial.testimonial-info-filled .testimonial-desc{

        }

            .testimonial.testimonial-info-filled .testimonial-desc img{
                border-color: #46b8da;
                background-color: #5bc0de;
            }

            .testimonial.testimonial-info-filled .testimonial-writer-name{
                color: #5BC0DE;
            }


    .testimonial.testimonial-success-filled{

    }
        .testimonial.testimonial-success-filled .testimonial-section{
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
        }

            .testimonial.testimonial-success-filled .testimonial-section:after{
                border-top-color: #5CB85C;
            }

        .testimonial.testimonial-success-filled .testimonial-desc{

        }

            .testimonial.testimonial-success-filled .testimonial-desc img{
                border-color: #4cae4c;
                background-color: #5cb85c;
            }

            .testimonial.testimonial-success-filled .testimonial-writer-name{
                color: #5CB85C;
            }

    .testimonial.testimonial-warning-filled{

    }
        .testimonial.testimonial-warning-filled .testimonial-section{
            color: #fff;
            background-color: #f0ad4e;
            border-color: #eea236;
        }

            .testimonial.testimonial-warning-filled .testimonial-section:after{
                border-top-color: #F0AD4E;
            }

        .testimonial.testimonial-warning-filled .testimonial-desc{

        }

            .testimonial.testimonial-warning-filled .testimonial-desc img{
                border-color: #eea236;
                background-color: #f0ad4e;
            }

            .testimonial.testimonial-warning-filled .testimonial-writer-name{
                color: #F0AD4E;
            }

    .testimonial.testimonial-danger-filled{

    }
        .testimonial.testimonial-danger-filled .testimonial-section{
                color: #fff;
                background-color: #d9534f;
                border-color: #d43f3a;
        }

            .testimonial.testimonial-danger-filled .testimonial-section:after{
                border-top-color: #D9534F;
            }

        .testimonial.testimonial-danger-filled .testimonial-desc{

        }

            .testimonial.testimonial-danger-filled .testimonial-desc img{
                border-color: #d43f3a;
                background-color: #D9534F;
            }

            .testimonial.testimonial-danger-filled .testimonial-writer-name{
                color: #D9534F;
            }
.testimonial-section .ratings {
  font-size: 25px !important;
  padding-top: 0 !important;
  text-align: right !important;
}
.static-text-img-left {

  float: left;
  margin-bottom: 12px;
  margin-right: 12px;
  margin-top: 7px;
  padding: 5px;
}
.static-text-img-right {

  float: right;
  margin-bottom: 12px;
  margin-left: 12px;
  padding: 5px;
  margin-top: 7px;
}
@media (max-width: 767px){
.static-text-img-left {
  width: 100px;
}
.static-text-img-right {
  width: 100px;
}
.pagination > li > a, .pagination > li > span {
  margin-right: 4px;
}
}
@media (max-width: 400px){
.serached-results {

  text-align: left;
}
}
ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 150px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 150px;
}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}
span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
.img-list a:hover{
  background:none!important;
}
.img-list img {
  height: 143px !important;
  margin: 4px !important;
  padding: 7px;
  width: 143px !important;
}
.img-list  a {
  border-bottom: 1px solid rgb(80, 80, 80);
  padding: 5px 5px !important;
}
.profile-img-main.text-content a {
  border: 0 none !important;
}
.profile-img-main.text-content > span:hover {
  cursor: no-drop !important;
}

.last-dd {

  left: -35px;

}
@media (max-width: 991px) {
#sidebar ul li a {

  font-size: 14px;

}
}
@media (max-width: 767px) {
  #sidebar{
   display:none;
}
.middle-pan {
  padding-left: 16px;
}
}

/* Important styles */
#toggle {
  display: block;
  width: 28px;
  height: 15px;
  margin: 15px auto 10px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  height: 0;
  opacity: 0;
  text-align: left;

  visibility: hidden;
}
#menu:after {
  position: absolute;
  top: -15px;
  left: 95px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
#menu ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
#menu li a {
  color: hsl(0, 0%, 53%);
  padding: 7px 20px;
  text-decoration: none;
  transition: all 0.2s ease 0s;
}
#menu li a:hover,
#menu li a:focus {
  background: #00ACB8;
  color: #fff;
}
#menu > ul {
  background: hsl(0, 0%, 0%) none repeat scroll 0 0;
  color: hsl(0, 0%, 100%) !important;
  opacity: 1 !important;
  z-index: 99999999;
  position:relative;
}
  .mobile-menu{
   background:#eee;
}
.navbar-collapse {
  box-shadow: none !important;

}
@media (min-width: 768px) {
  .mobile-menu{
   display:none;
  }
  .mobile-menu.main-app-menu {
    display: block !important;
  }

}
.user-name-mobile {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  line-height: 3em;
  padding-left: 14px;
  text-transform: capitalize;
}
#myNavbar li a {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  padding-left: 10px;
  padding-top: 8px;
}
.navbar-collapse {
  border-top: 0px solid hsla(0, 0%, 0%, 0);
}
.panel-body > a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  display: block;
}

html, body.notHome {
  height: 100%;
  margin: 0;
}
body.notHome {
  display: table;
  height: 100%;
  width: 100%;
}
.notHome #main-view {
  height: 100%;
}
#main-view > .container,
#main-view > .main-area {
  padding-bottom: 50px;
}
footer {
  display: table-row;
}

#search-select {
  height: 44px !important;
}
.search-input {
  padding-left: 12px!important;
}
.search-fa {
  color: #00ACB8
}
.font-list{
 padding-right:10px;
}
.shadow-box {
  box-shadow: 0 0 5px 0 rgba(46, 50, 50, 0.39);
  padding: 0;
}
.bottom-navigation-pager {
  clear: both;
}
.shadow-box strong{
  color:#00ACB8;
}
@media (min-width: 992px) {
.col-md-2.custom-col-2 {
  width: 18.3%;
}
.form-listing .col-md-2.custom-col-2 {
  width: 19.3%;
}
.custom-right-space{
 padding-right:0px;
}
}
.blue {
  color: #00acb8;
}
.grey-pg {
  color: #565656;
  margin-right: 31px;
  text-align: justify;
  word-break: break-all;
}
.listing-fa {
  background: #00acb8 none repeat scroll 0 0;
  border-radius: 12px;
  color: #fff;
  font-size: 10px;
  padding: 3.5px 4px;
  text-align: center;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  line-height: 10px;
}
.phone-email {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  padding-left: 0;
  list-style: none;
}
.phone-email li {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 10px;
}
.listdetails .fa-map-marker {
  color: #00acb8;
  font-size: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.staff-listing h3{
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-right: 30px;
}
.medi-staff-names {
  padding: 0;
}
.medi-staff-names li {
  border-bottom: 1px solid #ccc;
  color: #565656;
  margin-right: 30px;
  padding-bottom: 5px;
}
.nicescroll-rails {
  border-radius: 10px!important;
}
body.hospitals .nicescroll-rails > div {
  width: 10px !important;
}
.listdetails {
  padding-left: 36px;
}
.listing-group {
  border-color: #999999;
  border-radius: 4px;
}
.listing-group select{
  color:#00ACB8 !important;
}
.page-item .page-link {
  border-radius:4px;
}
.page-item .page-link:hover {
  background: #00acb8 none repeat scroll 0 0 !important;
  border-color: #00acb8 !important;
  color: #fff !important;
  border-radius:4px;
}
.scroll {
  margin-bottom: 7px;
}
@media (max-width: 991px) {
.staff-listing {
  clear: both;
  padding: 15px;
}
.search-row {
  margin-bottom: 20px;
}
}
@media (max-width: 767px) {
.listdetails {
  padding-left: 17px;
}
.listing-image{
  margin:0 auto;
  padding-top:15px;
}
}
.search-by.blue {
  text-align: center;
  margin-bottom: 15px;
}
