<!-- main body section -->
<div class="container hiw-page">
    <h4 class="section-heading" translate="hiwsection.heading"></h4>
    
    <!-- Three columns of text below the carousel -->
    <div class="row" id="steps">
        <div class="col-sm-12">
            <ul>
                <li class="step step1">
                    <div class="number">1</div>
                    <div class="image">
                        <img src="../../../assets/images/home/account.png" alt="step1">
                    </div>
                    <div class="step-heading" translate="hiwsection.step1heading"></div>
                    <div class="step-description" translate="hiwsection.step1desc"></div>
                </li>
                <li class="step step2">
                    <div class="number">2</div>
                    <div class="image">
                        <img src="../../../assets/images/home/assesment.png" alt="step2">
                    </div>
                    <div class="step-heading" translate="hiwsection.step2heading"></div>
                    <div class="step-description" translate="hiwsection.step2desc"></div>
                </li>
                <li class="step step3">
                    <div class="number">3</div>
                    <div class="image">
                        <img src="../../../assets/images/home/track.png" alt="step3">
                    </div>
                    <div class="step-heading" translate="hiwsection.step3heading"></div>
                    <div class="step-description" translate="hiwsection.step3desc"></div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p class="para text-justify" translate="hiwpage.description1"></p>
            <p class="para text-justify" translate="hiwpage.description2"></p>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-6 col-md-5 video">
            <div class="hiw-video">
                <iframe width="100%" height="100%" src="" data-src="https://www.youtube.com/embed/Q8wc53uDM58?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-6 col-md-7 points">
            <ul class="list-disc hiw-text">
                <li>
                    <p class="hiw-text-heading"><i class="fa fa-check-circle"></i><span translate="hiwpage.questionnaires"></span></p>
                    <p class="hiw-text-desc" translate="hiwpage.questionnairesdesc"></p>
                </li>
                <li>
                    <p class="hiw-text-heading"><i class="fa fa-check-circle"></i><span translate="hiwpage.personalmedicalhistory"></span></p>
                    <p class="hiw-text-desc" translate="hiwpage.personalmedicalhistorydesc"></p>
                </li>
                <li>
                    <p class="hiw-text-heading"><i class="fa fa-check-circle"></i><span translate="hiwpage.lifestylehabbits"></span></p>
                    <p class="hiw-text-desc" translate="hiwpage.lifestylehabbitsdesc"></p>
                </li>
                <li>
                    <p class="hiw-text-heading"><i class="fa fa-check-circle"></i><span translate="hiwpage.facialrecording"></span></p>
                    <p class="hiw-text-desc" translate="hiwpage.facialrecordingdesc"></p>
                </li>
                <li>
                    <p class="hiw-text-heading"><i class="fa fa-check-circle"></i><span translate="hiwpage.brainsignalrecordings"></span></p>
                    <p class="hiw-text-desc" translate="hiwpage.brainsignalrecordingsdesc"></p>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <br><br>
            <p class="para text-justify" translate="hiwpage.description3"></p>
        </div>
        <div class="col-sm-12 links">
            <div class="col-sm-6">
                <a [href]="config.appDomain+'hospitals'" target="_blank" class="link pink">
                    <img src="../../assets/images/hiw/doctor.png" alt="find a doc"/>
                    <h4 class="link-heading" translate="hiwpage.findadoc"></h4>
                    <p class="link-desc" translate="hiwpage.findadocdesc"></p>
                </a>
            </div>
            <div class="col-sm-6">
                <a [href]="config.appDomain+'support-groups'" target="_blank" class="link orange">
                    <img src="../../assets/images/hiw/support.png" alt="support"/>
                    <h4 class="link-heading" translate="hiwpage.supportgroups"></h4>
                    <p class="link-desc" translate="hiwpage.supportgroupsdesc"></p>
                </a>
            </div>
            <div class="col-sm-6">
                <a routerLink="/brain-shop" class="link blue">
                    <img src="../../assets/images/hiw/shop.png" alt="brain shop"/>
                    <h4 class="link-heading" translate="hiwpage.brainshop"></h4>
                    <p class="link-desc" translate="hiwpage.brainshopdesc"></p>
                </a>
            </div>
            <div class="col-sm-6">
                <a [href]="config.appDomain+'brain-training'" target="_blank" class="link green">
                    <img src="../../assets/images/hiw/training.png" alt="brain training"/>
                    <h4 class="link-heading" translate="hiwpage.braintraining"></h4>
                    <p class="link-desc" translate="hiwpage.braintrainingdesc"></p>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 text-center">
            <a class="btn custom-small-btn btn-primary hvr-float-shadow" [href]="config.appDomain+'signup'" target="_blank" translate="buttons.createfreeaccount"></a>
        </div>
    </div>
</div>
<div class="main-content-area container">

    <div style="box-shadow: 0 5px 14px rgba(0,0,0,0.3); padding: 15px 15px 1px 15px;">
        <h3 class="faq-heading" style="color:#00acb8;padding-bottom:0;padding-top:10px;" translate="howitworksform.heading"></h3>
        <p class="text-center" translate="howitworksform.subtext"></p>
        <li class="question inner-form">
            <span translate="howitworksform.question1"></span>
            <ul class="choose-answer ">
                <li>
                    <label>
            <input name="radio6" value="1" type="radio" checked> <span></span> <i translate="howitworksform.veryoften"></i>
          </label>
                </li>
                <li>
                    <label>
          <input name="radio6" value="1" type="radio" checked> <span></span> <i translate="howitworksform.notatall"></i>
        </label>
                </li>
                <li>
                    <label>
            <input name="radio6" value="1" type="radio" checked> <span></span> <i translate="howitworksform.quiteoften"></i>
          </label>
                </li>
                <li>
                    <label>
            <input name="radio6" value="1" type="radio" checked> <span></span> <i translate="howitworksform.occasionally"></i>
          </label>
                </li>
            </ul>
        </li>
        <li class="question inner-form">
            <span translate="howitworksform.question2"></span>
            <ul class="choose-answer ">
                <li>
                    <label>
            <input name="radio" value="1" type="radio" checked> <span></span> <i translate="howitworksform.veryoften"></i>
          </label>
                </li>
                <li>
                    <label>
            <input name="radio" value="1" type="radio" checked> <span></span> <i translate="howitworksform.notatall"></i>
          </label>
                </li>
                <li>
                    <label>
            <input name="radio" value="1" type="radio" checked> <span></span> <i translate="howitworksform.quiteoften"></i>
          </label>
                </li>
                <li>
                    <label>
            <input name="radio" value="1" type="radio" checked> <span></span> <i translate="howitworksform.occasionally"></i>
          </label>
                </li>
            </ul>
        </li>
        <li class="question inner-form">
            <span translate="howitworksform.question3"></span>
            <ul class="choose-answer ">
                <li>
                    <label>
            <input name="radio1" value="1" type="radio" checked> <span></span> <i translate="howitworksform.veryoften"></i>
          </label>
                </li>
                <li>
                    <label>
            <input name="radio1" value="1" type="radio" checked> <span></span> <i translate="howitworksform.notatall"></i>
          </label>
                </li>
                <li>
                    <label>
            <input name="radio1" value="1" type="radio" checked> <span></span> <i translate="howitworksform.quiteoften"></i>
          </label>
                </li>
                <li>
                    <label>
            <input name="radio1" value="1" type="radio" checked> <span></span> <i translate="howitworksform.occasionally"></i>
          </label>
                </li>
            </ul>
        </li>
        <li class="question inner-form">
            <span translate="howitworksform.question4"></span>
            <ul class="choose-answer ">
                <li>
                    <label>
            <input name="radio2" value="1" type="radio" checked> <span></span> <i translate="howitworksform.veryoften"></i>
          </label>
                </li>
                <li>
                    <label>
            <input name="radio2" value="1" type="radio" checked> <span></span> <i translate="howitworksform.notatall"></i>
          </label>
                </li>
                <li>
                    <label>
            <input name="radio2" value="1" type="radio" checked> <span></span> <i translate="howitworksform.quiteoften"></i>
          </label>
                </li>
                <li>
                    <label>
            <input name="radio2" value="1" type="radio" checked> <span></span> <i translate="howitworksform.occasionally"></i>
          </label>
                </li>
            </ul>
        </li>
        <li class="question inner-form">
            <span translate="howitworksform.question5"></span>
            <ul class="choose-answer ">
                <li>
                    <label>
            <input name="radio3" value="1" type="radio" checked> <span></span> <i translate="howitworksform.veryoften"></i>
          </label>
                </li>
                <li>
                    <label>
            <input name="radio3" value="1" type="radio" checked> <span></span> <i translate="howitworksform.notatall"></i>
          </label>
                </li>
                <li>
                    <label>
            <input name="radio3" value="1" type="radio" checked> <span></span> <i translate="howitworksform.quiteoften"></i>
          </label>
                </li>
                <li>
                    <label>
            <input name="radio3" value="1" type="radio" checked> <span></span> <i translate="howitworksform.occasionally"></i>
          </label>
                </li>
            </ul>
        </li>
        <li class="question inner-form">
            <span translate="howitworksform.question6"></span>
            <ul class="choose-answer ">
                <li>
                    <label>
                      <input name="radio4" value="1" type="radio" checked> <span></span> <i translate="howitworksform.veryoften"></i>
                    </label>
                </li>
                <li>
                    <label>
                      <input name="radio4" value="1" type="radio" checked> <span></span> <i translate="howitworksform.notatall"></i>
                    </label>
                </li>
                <li>
                    <label>
                      <input name="radio4" value="1" type="radio" checked> <span></span> <i translate="howitworksform.quiteoften"></i>
                    </label>
                </li>
                <li>
                    <label>
                      <input name="radio4" value="1" type="radio" checked> <span></span> <i translate="howitworksform.occasionally"></i>
                    </label>
                </li>
            </ul>
        </li>
        <li class="question inner-form">
            <span translate="howitworksform.question7"></span>
            <ul class="choose-answer ">
                <li>
                    <label>
                      <input name="radio5" value="1" type="radio" checked> <span></span> <i translate="howitworksform.veryoften"></i>
                    </label>
                </li>
                <li>
                    <label>
                      <input name="radio5" value="1" type="radio" checked> <span></span> <i translate="howitworksform.notatall"></i>
                    </label>
                </li>
                <li>
                    <label>
                        <input name="radio5" value="1" type="radio" checked> <span></span> <i translate="howitworksform.quiteoften"></i>
                    </label>
                </li>
                <li>
                    <label>
                      <input name="radio5" value="1" type="radio" checked> <span></span> <i translate="howitworksform.occasionally"></i>
                    </label>
                </li>
            </ul>
        </li>
        <p class="text-center clearfix">
            <a class="btn custom-small-btn btn-primary hvr-float-shadow" role="button" routerLink="/how-it-works-result" data-original-title="" title="" style="width: 171px;" translate="buttons.submit"></a>
        </p>
    </div>
</div>