.hiw-page {
    padding: 50px 15px;
}
.hiw-page .section-heading {
    font-size: 32px;
    text-transform: uppercase;
    color: #00acb8;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}
.hiw-page .video {
    float: right;
}
.hiw-page .video > .hiw-video {
    height: 250px;
}
#steps {
    margin-top: 15px;
    margin-bottom: 30px;
}
#steps ul {
    padding: 0;
    text-align: center;
}
#steps ul li {
    width: 33%;
    display: inline-block;
    position: relative;
}
.step .number {
    font-size: 28px;
    font-weight: 600;
    border: solid 2px #eee;
    border-radius: 50%;
    text-align: center;
    height: 45px;
    width: 45px;
    margin: 0 auto;
    line-height: 39px;
}
.step .number:after,
.step .number:before {
    content: '';
    position: absolute;
    height: 1px;
    border-top: dashed 2px #ccc;
    top: 22px;
    width: calc(50% - 35px);
    right: 0;
}
.step .number:before {
    left: 0;
}
.step.step1 .number:before {
    display: none;
}
.step.step3 .number:after {
    display: none;
}
.step.step1 .number {
    color: #f2666f;
}
.step.step2 .number {
    color: #fda050;
}
.step.step3 .number {
    color: #8ec486;
}
.step .image {
    margin: 15px auto;
}
.step .step-heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}
.step .step-description {
    max-width: 225px;
    margin: 0 auto;
    font-size: 16px;
}
ul.hiw-text {
    padding-top: 7px;
    padding-right: 20px;
}
ul.hiw-text li {
    list-style:none;
}
 ul.hiw-text .hiw-text-heading {
    position: relative;
    margin-bottom: 0px;
    color: #00acb8;
    font-weight: bold;
 }
 ul.hiw-text .hiw-text-heading i {
    position: absolute;
    left: -20px;
    top: 2px;
    font-size: 17px;
 }
 ul.hiw-text .hiw-text-desc {
     margin-bottom: 3px;
 }
 .links {
     padding: 0;
     margin-top: 20px;
 }
 .links .link {
     background: #f3f3f3;
     text-align: center;
     display: block;
     padding: 15px;
     margin-bottom: 20px;
     text-decoration: none;
 }
 .links .link .link-desc {
     max-width: 75%;
     margin: 0 auto;
     color: #000;
     min-height: 40px;
 }
 .links .link .link-heading {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
 }
 .link.pink .link-heading {
    color: #ef414b;
 }
 .link.orange .link-heading {
    color: #f6892a;
 }
 .link.green .link-heading {
    color: #5dab46;
 }
 .link.blue .link-heading {
    color: #4f76bb;
 }
@media screen and (max-width: 1199px) {
    .links .link .link-desc {
        max-width: 80%;
    }
}
@media screen and (max-width: 991px) {
    .step .step-heading,
    .step .step-description {
        font-size: 15px;
    }
    #steps ul li {
        width: 32%;
    }
    ul.hiw-text {
        padding-left: 15px;
        padding-top: 0;
    }
    ul.hiw-text .hiw-text-heading {
        font-size: 13px;
        line-height: 15px;
    }
    ul.hiw-text .hiw-text-heading i {
        left: -15px;
        top: 1px;
        font-size: 13px;
    }
    ul.hiw-text .hiw-text-desc {
        font-size: 13px;
        line-height: 17px;
    }
    .links .link .link-desc {
        max-width: 90%;
        font-size: 12px;
    }
}
@media screen and (max-width: 767px) {
    .step .step-heading,
    .step .step-description {
        font-size: 13px;
    }
    .hiw-page .video {
        float: none;
        max-width: 450px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    ul.hiw-text .hiw-text-heading {
        font-size: 14px;
        line-height: 25px;
    }
    ul.hiw-text .hiw-text-heading i {
        left: -15px;
        top: 6px;
        font-size: 14px;
    }
    ul.hiw-text .hiw-text-desc {
        font-size: 14px;
        line-height: 20px;
    }
}
@media screen and (max-width: 649px) {
    #steps ul li {
        width: 100%;
        margin-bottom: 25px;
    }
    #steps ul li .number:before,
    #steps ul li .number:after {
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .hiw-page .video > .hiw-video {
        height: 160px; 
    }
}