<!-- main body section -->


<div class="main-content-area container">
	<h3 class="faq-heading" translate="howitworksresult.heading"></h3>

	<p class="note-content" style="text-align: center;">
		<span translate="howitworksresult.notecontent1"></span>
		<br>
		<span translate="howitworksresult.notecontent2"></span>
	</p>
	<div class=" col-md-6 col-md-offset-3">
		<div class="body bg-cyan col-md-12">
			<h3 style="padding:0 15px;" translate="howitworksresult.graphheading"></h3>
		</div>
	</div>
	<div class=" col-md-6 col-md-offset-3">
		<div class="body bg-cyan col-md-12">
			<h3 translate="howitworksresult.graph"></h3>
			<i><img src="../assets/images/graph.png" style="width: 90%;"></i>
		</div>
		<br><br>
		<p class="form-sub-heading1" translate="howitworksresult.note"></p>
	</div>
</div>
