<div [ngClass]="{'home' : isHome , 'notHome': !isHome, 'body': true, 'mobile': isMobile, 'rtl': config.currentLanguage?.lang_is_rtl}">

    <div class="push-notification-wrapper"></div>

    <!-- Main Loader -->
    <app-main-loader *ngIf="config.showMainLoader"></app-main-loader>

    <!-- Modal shown to refer app to customers -->
    <div id="referAppModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 translate="miscellaneous.trybrain9dapp"></h3>
                </div>
                <div class="modal-body text-center">
                    <span translate="miscellaneous.tryappmessage"></span>
                    <br><br>
                    <!-- <button type="button" class="btn custom-small-btn btn-primary" (click)="appDeepLink()" data-dismiss="modal" translate="buttons.takemetotheapp"></button> -->
                    <button type="button" class="btn custom-small-btn btn-primary" data-dismiss="modal" translate="buttons.takemetotheapp"></button>
                    <p style="margin-top: 15px;text-align: center;margin-bottom: -10px;" *ngIf="config.iphoneAppUrl">
                        <span translate="miscellaneous.donothaveiosapp"></span>
                        <br>
                        <a style="text-decoration:underline" href="{{config.iphoneAppUrl}}" translate="buttons.gotoapplestore"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation Menu -->
    <app-header (changeLanguage)="switchLanguage($event)"></app-header>

    <!-- Main content of all pages go here -->
    <div class="close-menu" [ngClass]="{'main-area': !isHome , 'home-slider': isHome}" id="main-view">
        <app-inner-loader *ngIf="config.showLoader"></app-inner-loader>
        <router-outlet></router-outlet>
    </div>

    <div class="clearfix"></div>

    <!-- App Footer -->
    <app-footer></app-footer>

</div>