<div class="container brain9d-page">
    <h3 class="faq-heading" translate="brain9dpage.heading"></h3>
    <h4 class="sub-heading text-center" translate="brain9dpage.subheading"></h4>
    <div class="row">
        <div class="col-sm-5 image">
            <img class="img-responsive hidden-xs" src="../../assets/images/brain9d/brain.png" alt="What is brain9d?" />
            <img class="img-responsive visible-xs" src="../../assets/images/brain9d/brain_detail_mobile.png" alt="What is brain9d?" />
        </div>
        <div class="col-sm-7 desc">
            <p translate="brain9dpage.para1"></p>
            <p translate="brain9dpage.para2"></p>
            <ul>
                <li><i class="fa fa-check-circle"></i><span translate="brain9dpage.para2p1"></span></li>
                <li><i class="fa fa-check-circle"></i><span translate="brain9dpage.para2p2"></span></li>
                <li><i class="fa fa-check-circle"></i><span translate="brain9dpage.para2p3"></span></li>
            </ul>
            <p class="point" translate="brain9dpage.point"></p>
            <br>
        </div>
        <div class="col-sm-12">
            <p translate="brain9dpage.para3"></p>
            <p translate="brain9dpage.para4"></p>
            <p class="button-container text-center">
                <a class="btn custom-small-btn btn-primary hvr-float-shadow" [href]="config.appDomain+'signup'" target="_blank" translate="buttons.trybrain9dnow"></a>
            </p>
            <p class="special-note" translate="brain9dpage.para5"></p>
        </div>
        <div class="col-sm-12">
            <div class="page-note row">
                <!-- <div class="note" translate="brain9dpage.note"></div> -->
                <div class="img">
                    <img class="" src="../../assets/images/brain9d/note.png" alt="Note"/>                    
                </div>
                <div class="text">
                    <p translate="brain9dpage.note"></p>                    
                </div>
            </div>
        </div>
    </div>
</div>