.sub-heading {
    font-weight: 600;
    font-style: italic;
    margin-bottom: 30px;
    font-size: 24px;
}
.sub-heading:before, .sub-heading:after {
    content: '"';
}
p.font-italic {
    font-style: italic;
}
.brain9d-page .desc {
    padding-top: 25px;
}
.brain9d-page p {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 25px;
}
.brain9d-page p.text-center {
    text-align: center;
}
.brain9d-page p.special-note {
    color: #00acb8;
    text-align: center;
    font-weight: 600;
}
.brain9d-page .desc ul {
    padding-left: 25px;
    padding-right: 25px;
}
.brain9d-page .desc ul li {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    position: relative;
}
.brain9d-page .desc ul li > i {
    position: absolute;
    left: -25px;
    color: #00acb8;
    top: 3px;
}
.brain9d-page .desc .point {
    background-color: #eee;
    padding: 15px 25px;
    margin-top: 25px;
    font-size: 16px;
    line-height: 25px;
    min-width: 725px;
}
.brain9d-page .page-note {
    font-size: 18px;
    padding: 10px 10px;
    background-color: #f3f3f3;
    border: solid 2px #ccc;
    border-radius: 7px;
    box-shadow: 0 0 6px #999;
    position: relative;
}
.brain9d-page .page-note > .note {
    text-align: justify;
    padding-left: 65px;
}
.brain9d-page .page-note > .note:before {
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    width: 53px;
    background-image: url('../../assets/images/brain9d/note.png');
    background-repeat: no-repeat;
    background-size: cover; 
}
.brain9d-page .page-note {
    margin: 0;
}
.brain9d-page .page-note .img {
    text-align: center;
    width: 50px;
    float: left;
}
.brain9d-page .page-note .img > img {
    min-width: 50px;
}
.brain9d-page .page-note .text {
    width: calc(100% - 50px);
    float: left;
    padding: 0 15px;
}
.brain9d-page .page-note .text p {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .brain9d-page .image {
        float: right;
    }
}
@media screen and (max-width: 1199px) {
    .brain9d-page .page-note > .note {
        padding-left: 83px;
    }
    .brain9d-page .page-note > .note:before {
        width: 65px;
        height: 93px;
    }
}
@media screen and (max-width: 991px) {
    .faq-heading {
        padding-bottom: 0;
    }
    .sub-heading {
        font-size: 18px;
    }
    .brain9d-page p {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .brain9d-page .desc ul {
        padding-left: 15px;
        padding-right: 15px;
    }
    .brain9d-page .desc ul li {
        font-size: 14px;
    }
    .brain9d-page .desc ul li > i {
        left: -15px;
        top: 6px;
    }
    .brain9d-page .desc .point {
        padding: 10px;
        margin-top: 10px;
        font-size: 12px;
        min-width: 525px;
    }
    .brain9d-page .page-note {
        font-size: 15px;
        margin-top: 10px;
    }
    .brain9d-page .page-note > .note {
        padding-left: 70px;
    }
    .brain9d-page .page-note > .note:before {
        width: 60px;
        height: 84px;
    }
}
@media screen and (max-width: 767px) {
    .brain9d-page .image > img {
        margin: 0 auto;
    }
    .brain9d-page .page-note > .note:before {
        bottom: auto;
        height: 84px;
    }
    .brain9d-page .desc .point {
        min-width: auto;
    }
}
@media screen and (max-width: 650px) {
    .brain9d-page .page-note > .note:before {
        top: 25px;
        height: 84px;
    }
}
@media screen and (max-width: 480px) {
    .brain9d-page p {
        font-size: 16px;
    }
    .brain9d-page .page-note > .note {
        font-size: 12px;
        padding-left: 58px;
    }
    .brain9d-page .page-note > .note:before {
        top: 8px;
        height: 67px;
        width: 47px;
    }
}