.get-started {
    padding: 50px 15px;
}
.get-started .description .section-heading {
    font-size: 36px;
    color: #00acb8;
    margin-bottom: 30px;
}
.get-started .description p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 25px;
}
.get-started .image img {
    margin: 0 auto;
}

@media screen and (max-width: 1199px) {
    .get-started .description .section-heading {
        font-size: 32px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .get-started .description p {
        margin-bottom: 12px;
    }
    .get-started .image img {
        max-width: 200px;
    }
}
@media screen and (max-width: 991px) {
    .get-started .description .section-heading {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .get-started .description p {
        font-size: 13px;
        margin-bottom: 7px;
    }
    .get-started button {
        padding: 7px 10px !important;
        margin-top: 8px;
    }
    .get-started .image img {
        max-width: 175px;
    }
}
@media screen and (max-width: 767px) {
    .get-started .image img {
        margin-bottom: 25px;
    }
    .get-started {
        padding: 35px 15px;
    }
    .get-started .image img {
        max-width: 100%;
    }
}