<div class="container get-started">
  <div class="row">
    <div class="col-sm-5 col-md-5 image">
      <img class="img-responsive" src="../../../assets/images/home/started.png" alt="What is brain9d" />
    </div>
    <div class="col-sm-7 col-md-7 description">
      <h3 class="section-heading" translate="getstartedsection.heading"></h3>
      <p translate="getstartedsection.para1"></p>
      <p translate="getstartedsection.para2"></p>
      <button class="btn btn-primary custom-small-btn" routerLink="/membership" translate="buttons.createfreeaccount"></button>
    </div>
  </div>
</div>