<div class="container testimonial-crousal">
    <h2><span class="blue-color-heading" translate="homepage.testimonialsheading"></span></h2>
    <p class="feedback-detail"><span translate="homepage.testimonialsdescriptionline1"></span><br> <span translate="homepage.testimonialsdescriptionline2"></span> </p>
    <div class="row">
      <div class="col-md-12">
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
  
          <!-- Bottom Carousel Indicators -->
          <ol class="carousel-indicators">
            <li *ngIf="feedbacks.length>0" data-target="#quote-carousel" data-slide-to="0" class="active"></li>
            <li *ngIf="feedbacks.length>2" data-target="#quote-carousel" data-slide-to="1"></li>
            <li *ngIf="feedbacks.length>4" data-target="#quote-carousel" data-slide-to="2"></li>
          </ol>
  
          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner">
  
            <!-- Quote 1 -->
            <div *ngIf="feedbacks.length>0" class="item active">
              <div class="row">
                <div *ngFor="let fb of feedbacks.slice(0,2)" class="col-sm-6">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-11  bg-testimonial">
                    <img [src]="fb.fbk_image">
                    <h3>{{fb.feedbackUser.usr_first_name}} {{fb.feedbackUser.usr_last_name}}</h3>
                    <div class="feedback-date"> {{fb.fbk_created_at.replace(" ", "T")+".000Z" | date : "medium"}} </div>
                    <p class="message" ng-if="fb.fbk_feedback_message" >"{{fb.fbk_feedback_message.slice(0,175)}} <span ng-if="fb.fbk_feedback_message.length>175">...</span>"</p>
                    <p class="ratings">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i [ngClass]="{'rating-light': fb.fbk_star_rating < 2}" class="fa fa-star" aria-hidden="true"></i>
                      <i [ngClass]="{'rating-light': fb.fbk_star_rating < 3}" class="fa fa-star" aria-hidden="true"></i>
                      <i [ngClass]="{'rating-light': fb.fbk_star_rating < 4}" class="fa fa-star" aria-hidden="true"></i>
                      <i [ngClass]="{'rating-light': fb.fbk_star_rating < 5}" class="fa fa-star" aria-hidden="true"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Quote 2 -->
            <div *ngIf="feedbacks.length>2" class="item">
              <div class="row">
                <div *ngFor="let fb of feedbacks.slice(2,4)" class="col-sm-6">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-11  bg-testimonial">
                    <img [src]="fb.fbk_image">
                    <h3>{{fb.feedbackUser.usr_first_name}} {{fb.feedbackUser.usr_last_name}}</h3>
                    <div class="feedback-date"> {{fb.fbk_created_at.replace(" ", "T")+".000Z" | date : "medium"}} </div>
                    <p class="message" ng-if="fb.fbk_feedback_message" >"{{fb.fbk_feedback_message.slice(0,175)}} <span ng-if="fb.fbk_feedback_message.length>175">...</span>"</p>
                    <p class="ratings">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i [ngClass]="{'rating-light': fb.fbk_star_rating < 2}" class="fa fa-star" aria-hidden="true"></i>
                      <i [ngClass]="{'rating-light': fb.fbk_star_rating < 3}" class="fa fa-star" aria-hidden="true"></i>
                      <i [ngClass]="{'rating-light': fb.fbk_star_rating < 4}" class="fa fa-star" aria-hidden="true"></i>
                      <i [ngClass]="{'rating-light': fb.fbk_star_rating < 5}" class="fa fa-star" aria-hidden="true"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Quote 3 -->
            <div *ngIf="feedbacks.length>4" class="item">
              <div class="row">
                <div *ngFor="let fb of feedbacks.slice(4,6)" class="col-sm-6">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-11  bg-testimonial">
                    <img [src]="fb.fbk_image">
                    <h3>{{fb.feedbackUser.usr_first_name}} {{fb.feedbackUser.usr_last_name}}</h3>
                    <div class="feedback-date"> {{fb.fbk_created_at.replace(" ", "T")+".000Z" | date : "medium"}} </div>
                    <p class="message" ng-if="fb.fbk_feedback_message" >"{{fb.fbk_feedback_message.slice(0,175)}} <span ng-if="fb.fbk_feedback_message.length>175">...</span>"</p>
                    <p class="ratings">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i [ngClass]="{'rating-light': fb.fbk_star_rating < 2}" class="fa fa-star" aria-hidden="true"></i>
                      <i [ngClass]="{'rating-light': fb.fbk_star_rating < 3}" class="fa fa-star" aria-hidden="true"></i>
                      <i [ngClass]="{'rating-light': fb.fbk_star_rating < 4}" class="fa fa-star" aria-hidden="true"></i>
                      <i [ngClass]="{'rating-light': fb.fbk_star_rating < 5}" class="fa fa-star" aria-hidden="true"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- end Quote 3 -->
          </div>
        </div>
      </div>
    </div>
  </div>