<div class="main-area">
  <div class="container-fluid user-account-container">
    <div class="row">

      <!-- <div id="externalContainer" class="text-center">
      </div> -->

      <iframe src="https://brain9d.blogspot.com/" style="width: 100%; height: 700px;"></iframe>

    </div>
  </div>
</div>