<!-- main body section -->
<div class="container">
    <p style="height: 41px;"> </p>
    <div class="form-outline col-md-8 col-sm-12 col-md-offset-2">

        <h3 translate="contactuspage.heading"></h3>
        <p class="sub-dis">
            <span translate="contactuspage.line1"></span>
            <br>
            <span translate="contactuspage.line2"></span>
            <br>
            <span translate="contactuspage.line3"></span>
            <a style="color:#00ACB8;" href="mailto:info@brain9d.com">info@brain9d.com</a>
        </p>
        <div class="clearfix"></div>


        <h4 class="send-message"><span translate="contactuspage.sendusamessage"></span></h4>
        <form id="contactus" name="contactus" (ngSubmit)="submitForm()" #contactForm="ngForm">
            <div class="col-md-4 half-space">
                <div class="input-group">
                    <input 
                        name="username" 
                        placeholder="{{ 'contactuspage.enterfullname' | translate }}" 
                        class="form-control" 
                        id="username" 
                        ngModel 
                        required
                        #username="ngModel"
                    >
                </div>
                <span class="error" *ngIf="(contactForm.submitted || username.touched) && username.invalid" translate="validationmessages.required"></span>
            </div>
            <div class="col-md-4 half-space">
                <div class="input-group">
                    <input 
                        name="email" 
                        type="email" 
                        placeholder="{{ 'contactuspage.enteremail' | translate }}" 
                        class="form-control" 
                        id="email" 
                        ngModel 
                        required 
                        email
                        #email="ngModel"
                    >
                </div>
                <span class="error" *ngIf="(contactForm.submitted || email.touched) && email.errors && email.errors.required" translate="validationmessages.required"></span>
                <span class="error" *ngIf="(contactForm.submitted || email.touched) && email.errors && email.errors.email && !email.errors.required" translate="validationmessages.email"></span>
            </div>
            <div class="col-md-4 half-space last-item">
                <div class="input-group ">
                    <input 
                        id="subject" 
                        class="form-control" 
                        name="subject" 
                        placeholder="{{ 'contactuspage.entersubject' | translate }}" 
                        ngModel 
                        required
                        #subject="ngModel"
                    >
                </div>
                <span class="error" *ngIf="(contactForm.submitted || subject.touched) && subject.errors && subject.errors.required" translate="validationmessages.required"></span>
            </div>
            <div class="input-group">
                <textarea 
                    class="Whiteboard" 
                    rows="6" 
                    name="message" 
                    placeholder="{{ 'contactuspage.message' | translate }}" 
                    ngModel 
                    required
                    #message="ngModel"
                ></textarea>
            </div>
            <span class="error" *ngIf="(contactForm.submitted || message.touched) && message.errors && message.errors.required" translate="validationmessages.required"></span>

            <p style="height: 10px;"> </p>
            <p *ngIf="submittedSuccessfully == false " class="alert-danger" translate="messages.errorsendingmessage"></p>
            <p *ngIf="submittedSuccessfully ==  true " class="alert-success" translate="messages.messagesent"></p>
            <button class="btn custom-small-btn btn-primary hvr-float-shadow" role="button" type="submit" style="width:171px" translate="buttons.sendmessage"></button>
        </form>
        
        <div class="address-wrapper">
            <!-- <h3 translate="contactuspage.ouroffices"></h3> -->
            <div class="address-container" *ngFor="let address of addresses">
                <h4>{{ address.cd_heading }}</h4>
                <p>{{ address.cd_address }}</p>
                <a href="mailto:{{address.cd_email}}">{{ address.cd_email }}</a><br>
                <p>{{ address.cd_phone }}</p>
            </div>
        </div>
    </div>
</div>
<!-- main body section -->