<div class="container">
  <h3 class="faq-heading" translate="employmentpage.heading"></h3>
  <p translate="employmentpage.firstpara"></p>
  <p style="font-weight:bold" translate="employmentpage.subheading"></p>
  <p translate="employmentpage.listtitle"></p>
  <ul class="list-disc">
    <li translate="employmentpage.point1"></li>
    <li translate="employmentpage.point2"></li>
    <li translate="employmentpage.point3"></li>
    <li translate="employmentpage.point4"></li>
  </ul>
  <p class="note-content">
    <span translate="employmentpage.calltoaction"></span>
    <a href="mailto:jobs@brain9d.com">jobs@brain9d.com</a>
  </p>
</div>