<div class="main-content-area container">
  <h3 class="faq-heading" translate="depressionpage.heading"></h3>
  <p translate="depressionpage.para1"></p>
  <p translate="depressionpage.para2"></p>
  <p translate="depressionpage.para3"></p>
  <p translate="depressionpage.para4"></p>
  <p translate="depressionpage.para5"></p>
  <p class="link">
    <a [href]="config.appDomain + 'form?form_id=124'" target="_blank" translate="depressionpage.link1"></a>
  </p>
  <p class="link">  
    <a [href]="config.appDomain + 'form?form_id=88'" target="_blank" translate="depressionpage.link2"></a>
  </p>
  <!-- <p class="link">  
    <a [href]="" target="_blank" translate="depressionpage.link3"></a>
  </p> -->
</div>