app-root {
    height: 100%;
}

app-home {
    display: inline;
    min-height: 100%;
}

.body.home {
    height: 100%;
}

.home .carousel-caption p {
    color: #000;
    text-shadow: none;
}
.carousel-indicators li {
    border-color: #00acb8;
    background: transparent;
}
.home .navbar-inverse .navbar-nav>li>a {
    color: #000;
}

.home .navbar-inverse .navbar-nav>li>a:hover { 
    color: #00acb8; 
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #00acb8;
}

footer {
    display: block;
}

.body.notHome {
    display: table;
    width: 100%;
    height: 100%;
}

.body.notHome #main-view {
    display: table-row;
}
.home-logo {
    display: none;
}

@media screen and (min-width: 768px) {
    .home .main-logo {
        display: none;
    }
    .home .home-logo {
        display: block;
    }
}

.body.home footer {
    margin-top: 0;
}

.rtl .brain9d,
.rtl .get-started,
.rtl .hiw,
.rtl .hiw-page,
.rtl .brain9d-page {
    direction: rtl;
}
.rtl .step .number:before {
    right: 0 !important;
    left: auto !important;
}
.rtl .step .number:after {
    left: 0 !important;
    right: auto !important;
}
.rtl ul.hiw-text .hiw-text-heading i {
    left: auto;
    right: -20px;
}
.rtl .brain9d-page .page-note .note {
    padding-left: 0;
    padding-right: 65px;
}
.rtl .brain9d-page .page-note .note:before {
    left: auto;
    right: 10px;
}
.rtl .brain9d-page .desc ul li > i {
    left: auto;
    right: -25px;
}
.rtl .brain9d-page .page-note > * {
    float: right !important;
}

@media screen and (max-width: 1199px) {
    .rtl .brain9d-page .page-note > .note {
        padding-right: 83px;
        padding-left: 0;
    }
    .rtl .brain9d-page .page-note > .note:before {
        width: 55px !important;
        height: 77px !important;
    }
}

@media screen and (max-width: 991px) {
    .rtl .brain9d-page .desc ul li > i {
        right: -15px;
        top: 6px;
        left: auto;
    }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
    .nav>li>a {
        padding: 10px 10px;
    }
}

@media screen and (min-width: 768px) {
    li.dropdown:hover .dropdown-menu {
        display: block;
    }
    .rtl .brain9d .image,
    .rtl .brain9d .description,
    .rtl .get-started .image, 
    .rtl .get-started .description {
        float: right;
    }
    .rtl .hiw .video,
    .rtl .hiw .video-separator {
        float: left !important;
    }
    .rtl .hiw .description {
        float: right;
    }
    .rtl .hiw-page .links > * {
        float: right;
        direction: rtl;
    }
    .rtl .hiw-page .video {
        float: left !important;
    }
    .rtl .brain9d-page .image {
        float: left !important;
    }
}

@media screen and (max-width: 768px) {
    .navbar-inverse .navbar-brand {
        padding-left: 10px;
    }
    .navbar-inverse .navbar-nav>li.useraccount>a {
        float: none;
        padding-left: 14px;
    }
    .top-slider .carousel-indicators { 
        bottom: 50px; 
        right: auto !important; 
        width: 150px !important; 
        left: 50%; 
        margin-left: -75px; 
        padding-left: 0; 
    } 
    .top-slider .carousel-indicators .active, .top-slider .carousel-indicators li { 
        margin: 5px; 
    }
}

@media screen and (max-width: 767px) {
    .dropdown-menu.last-dd {
        margin: 0 15px;
    }
    .navbar-nav .open .dropdown-menu.last-dd>li>a {
        line-height: 7px;
        padding: 5px 10px 10px 10px;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #000 !important;
    }
    .navbar-inverse .navbar-nav>li>a {
        color: #000 !important;
    }
    .rtl ul.hiw-text .hiw-text-heading i {
        right: -15px;
    }
    .rtl ul.hiw-text {
        padding-right: 15px;
    }
}

@media screen and (max-width: 650px) {
    #how-it-works-video {
        height: 200px;
    }
}

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1024px)
and (min-device-height : 1366px) 
and (max-device-height : 1366px)
and (orientation : landscape) {
    .carousel .item {
        background-position: 75% 50%;
    }
}

/* media query for ipad pro portrait only */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1024px)
and (min-device-height : 1366px) 
and (max-device-height : 1366px)
and (orientation : portrait) {
    .home .carousel .item {
        background-image: none;
        background-color: #ebebeb;
    }
    .carousel-image-container {
        display: block !important;
    }
    .carousel-image-container img {
        min-height: 500px;
    }
    .carousel-caption {
        position: relative;
        width: 100%;
        left: auto;
        top: auto;
        right: auto;
        margin-top: 35px;
        text-align: center;
    }
    .carousel-caption h2 {
        letter-spacing: 2px;
        font-weight: 500;
    }
    .home .carousel-caption p {
        width: 100%;
        max-width: none;
        font-size: 34px;
        text-align: justify;
    }
    .top-slider .carousel-indicators {
        right: auto !important;
        width: 100px !important;
        bottom: 60px;
        padding-left: 0;
        left: 50%;
        margin-left: -50px;
    }
    .top-slider .carousel-indicators .active,
    .top-slider .carousel-indicators li {
        display: inline-block;
        margin: 5px;
    }
    .carousel-caption .btn.btn-primary {
        font-size: 20px;
    }
}

/* media query for ipad portrait only */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 768px) 
and (orientation : portrait) {
    .carousel-caption {
        position: relative;
        width: 100%;
        left: auto;
        top: auto;
        right: auto;
        margin-top: 35px;
        text-align: center;
    }
    .carousel-caption h2 {
        letter-spacing: 2px;
        font-weight: 500;
    }
    .home .carousel-caption p {
        width: 100%;
        max-width: none;
        font-size: 24px;
        text-align: justify;
    }
}

/* carousel styles for mobile devices */
@media screen 
and (max-width: 767px) {
    .move-down {
        margin: -35px auto 0;
    }
    .move-down img {
        max-width: 28px;
    }
    .top-slider .carousel-indicators {
        bottom: 20px;
    }
    .carousel-image-container {
        display: block !important;
        padding-top: 90px !important;
    }
    .carousel-image-container.container-1 img {
        max-width: 130px;
    } 
    .carousel-image-container.container-2 img {
        max-width: 150px;
    } 
    .carousel-image-container.container-3 img {
        max-width: 95px;
    } 
    .carousel-caption {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        text-align: center;
    }
    .carousel-caption h2 {
        font-weight: 600;
        letter-spacing: 1px;
        text-shadow: none;
    }
    .carousel-caption p {
        text-align: justify;
    }
}

@media only screen 
and (max-device-width : 480px) {
    .top-slider .carousel-indicators li {
        height: 10px;
        width: 10px;
    }
    .top-slider .carousel-indicators .active {
        height: 10px !important;
        width: 10px !important;
    }
}

@media only screen 
and (max-device-width : 340px)
and (orientation : portrait) {
    .carousel-image-container img {
        max-height: 130px;
    }
    .carousel-caption .btn.btn-primary {
        padding: 7px 15px;
    }
    .home .carousel-caption p {
        font-size: 13px;
        line-height: 18px;
    }
}

.blue-color-heading {
    text-shadow: none;
}