<!-- main body section -->
<div class="main-content-area container terms-and-conditions">
    <h3 class="faq-heading" translate="termsandconditionspage.heading"></h3>
    <p class="note-content" translate="termsandconditionspage.note"></p>
    <ul>
        <li><a class="note-content" id="anchorEU" [attr.data-target]="'#europeanUnion'">EU GDPR</a></li>
        <li translate="termsandconditionspage.point1"></li>
        <li translate="termsandconditionspage.point2"></li>
        <li translate="termsandconditionspage.point3"></li>
        <li translate="termsandconditionspage.point4"></li>
        <li translate="termsandconditionspage.point5"></li>
        <li translate="termsandconditionspage.point6"></li>
        <li translate="termsandconditionspage.point7"></li>
        <li translate="termsandconditionspage.point8"></li>
        <li translate="termsandconditionspage.point9"></li>
        <li translate="termsandconditionspage.point10"></li>
        <li translate="termsandconditionspage.point11"></li>
        <li translate="termsandconditionspage.point12"></li>
        <li translate="termsandconditionspage.point13"></li>
        <li translate="termsandconditionspage.point14"></li>
        <li translate="termsandconditionspage.point15"></li>
        <li translate="termsandconditionspage.point16"></li>
        <li translate="termsandconditionspage.point17"></li>
        <li translate="termsandconditionspage.point18"></li>
        <li translate="termsandconditionspage.point19"></li>
        <li translate="termsandconditionspage.point20"></li>
        <li translate="termsandconditionspage.point21"></li>
        <li translate="termsandconditionspage.point22"></li>
        <li translate="termsandconditionspage.point23"></li>
        <li translate="termsandconditionspage.point24"></li>
        <li translate="termsandconditionspage.point25"></li>
        <li translate="termsandconditionspage.point26"></li>
        <li translate="termsandconditionspage.point27"></li>
        <li translate="termsandconditionspage.point28"></li>
        <li translate="termsandconditionspage.point29"></li>
        <li translate="termsandconditionspage.point30"></li>
        <li translate="termsandconditionspage.point31"></li>
        <li translate="termsandconditionspage.point32"></li>
        <li translate="termsandconditionspage.point33"></li>
        <li translate="termsandconditionspage.point34"></li>
        <li translate="termsandconditionspage.point35"></li>

        <ul>
            <li translate="termsandconditionspage.point36"></li>
            <ul>
                <li translate="termsandconditionspage.point37"></li>
                <li translate="termsandconditionspage.point38"></li>
                <li translate="termsandconditionspage.point39"></li>
                <li translate="termsandconditionspage.point40"></li>
                <li translate="termsandconditionspage.point41"></li>
                <li translate="termsandconditionspage.point42"></li>
                <li translate="termsandconditionspage.point43"></li>
                <li translate="termsandconditionspage.point44"></li>
            </ul>
        </ul>
        <li translate="termsandconditionspage.point45"></li>
        <li translate="termsandconditionspage.point46"></li>
        <li translate="termsandconditionspage.point47"></li>
        <li translate="termsandconditionspage.point48"></li>
        <li translate="termsandconditionspage.point49"></li>
        <li translate="termsandconditionspage.point50"></li>
        <li translate="termsandconditionspage.point51"></li>
        <li translate="termsandconditionspage.point52"></li>
        <li translate="termsandconditionspage.point53"></li>
        <li translate="termsandconditionspage.point54"></li>
        <li translate="termsandconditionspage.point55"></li>
        <li translate="termsandconditionspage.point56"></li>
        <li translate="termsandconditionspage.point57"></li>
        <li translate="termsandconditionspage.point58"></li>
        <li translate="termsandconditionspage.point59"></li>
    </ul>
    <div id="euContent">
        <p class="note-content" id="europeanUnion" translate="termsandconditionspage.europeanUnion.heading"></p>
        <p translate="termsandconditionspage.europeanUnion.para1"></p>
        <p translate="termsandconditionspage.europeanUnion.para2"></p>
        <p translate="termsandconditionspage.europeanUnion.para3"></p>
        <p translate="termsandconditionspage.europeanUnion.note1"></p>
        <ul>
            <li translate="termsandconditionspage.europeanUnion.point1"></li>
            <li translate="termsandconditionspage.europeanUnion.point2"></li>
        </ul>
        <p translate="termsandconditionspage.europeanUnion.note2"></p>
        <ul>
            <li translate="termsandconditionspage.europeanUnion.point3"></li>
            <li translate="termsandconditionspage.europeanUnion.point4"></li>
            <li translate="termsandconditionspage.europeanUnion.point5"></li>
            <ul>
                <li translate="termsandconditionspage.europeanUnion.point5a"></li>
                <li translate="termsandconditionspage.europeanUnion.point5b"></li>
            </ul>
        </ul>
    </div>
</div>