<!-- main body section -->
<div class="main-content-area container am-health">

    <h3 class="faq-heading" translate="miscellaneous.assessinghealth"></h3>

    <div class="row margin0">

        <div class="col-sm-12 am-health-section">
            <div class="row">
                <div class="col-sm-3 col-md-2 text-center">
                    <img src="../assets/images/dashboard/brain-and-mental.png" alt="Brain and Mental" />
                </div>
                <div class="col-sm-6 col-md-8 desc">
                    <h3 class="am-heading" translate="amhealth.brainandmental"></h3>
                    <p translate="amhealth.brainandmentaldesc"></p>
                </div>
                <div class="col-sm-3 col-md-2 btn-container">
                    <a [href]="config.appDomain+'brain-and-mental'" target="_blank" class="btn btn-primary"><span translate="buttons.trynow"></span> <span class="fa fa-angle-right"></span></a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 am-health-section">
            <div class="row">
                <div class="col-sm-3 col-md-2 text-center">
                    <img src="../assets/images/dashboard/mood-and-behaviour.png" alt="Mood and Behaviour" />
                </div>
                <div class="col-sm-6 col-md-8 desc">
                    <h3 class="am-heading" translate="amhealth.moodandbehavioural"></h3>
                    <p translate="amhealth.moodandbehaviouraldesc"></p>
                </div>
                <div class="col-sm-3 col-md-2 btn-container">
                    <a [href]="config.appDomain+'mood-and-behavioral'" target="_blank" class="btn btn-primary"><span translate="buttons.trynow"></span> <span class="fa fa-angle-right"></span></a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 am-health-section">
            <div class="row">
                <div class="col-sm-3 col-md-2 text-center">
                    <img src="../assets/images/dashboard/analyze-from-face.png" alt="Scan your face" />
                </div>
                <div class="col-sm-6 col-md-8 desc">
                    <h3 class="am-heading" translate="amhealth.scanface"></h3>
                    <p translate="amhealth.scanfacedesc"></p>
                </div>
                <div class="col-sm-3 col-md-2 btn-container">
                    <a [href]="config.appDomain+'scan-your-face'" target="_blank" class="btn btn-primary"><span translate="buttons.trynow"></span> <span class="fa fa-angle-right"></span></a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 am-health-section">
            <div class="row">
                <div class="col-sm-3 col-md-2 text-center">
                    <img src="../assets/images/dashboard/brain-tests.png" alt="Brain Tests" />
                </div>
                <div class="col-sm-6 col-md-8 desc">
                    <h3 class="am-heading" translate="amhealth.braintests"></h3>
                    <p translate="amhealth.braintestsdesc"></p>
                </div>
                <div class="col-sm-3 col-md-2 btn-container">
                    <a [href]="config.appDomain+'brain-tests'" target="_blank" class="btn btn-primary"><span translate="buttons.trynow"></span> <span class="fa fa-angle-right"></span></a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 am-health-section">
            <div class="row">
                <div class="col-sm-3 col-md-2 text-center">
                    <img src="../assets/images/dashboard/brain-signals.png" alt="Brain Signals" />
                </div>
                <div class="col-sm-6 col-md-8 desc">
                    <h3 class="am-heading" translate="amhealth.brainsignals"></h3>
                    <p translate="amhealth.brainsignalsdesc"></p>
                </div>
                <div class="col-sm-3 col-md-2 btn-container">
                    <a [href]="config.appDomain+'analyze-brain-signals'" target="_blank" class="btn btn-primary"><span translate="buttons.trynow"></span> <span class="fa fa-angle-right"></span></a>
                </div>
            </div>
        </div>

    </div>

    <h3 class="faq-heading" translate="miscellaneous.managinghealth"></h3>

    <div class="row margin0">

        <div class="col-sm-12 am-health-section">
            <div class="row">
                <div class="col-sm-3 col-md-2 text-center">
                    <img src="../assets/images/dashboard/brain-training.png" alt="Brain Training" />
                </div>
                <div class="col-sm-6 col-md-8 desc">
                    <h3 class="am-heading" translate="amhealth.braintraining"></h3>
                    <p translate="amhealth.braintrainingdesc"></p>
                </div>
                <div class="col-sm-3 col-md-2 btn-container">
                    <a [href]="config.appDomain+'brain-training'" target="_blank" class="btn btn-primary"><span translate="buttons.trynow"></span> <span class="fa fa-angle-right"></span></a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 am-health-section">
            <div class="row">
                <div class="col-sm-3 col-md-2 text-center">
                    <img src="../assets/images/dashboard/find-doctor.png" alt="Find a Doctor" />
                </div>
                <div class="col-sm-6 col-md-8 desc">
                    <h3 class="am-heading" translate="amhealth.finddoctor"></h3>
                    <p translate="amhealth.finddoctordesc"></p>
                </div>
                <div class="col-sm-3 col-md-2 btn-container">
                    <a [href]="config.appDomain+'hospitals'" target="_blank" class="btn btn-primary"><span translate="buttons.trynow"></span> <span class="fa fa-angle-right"></span></a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 am-health-section">
            <div class="row">
                <div class="col-sm-3 col-md-2 text-center">
                    <img src="../assets/images/dashboard/learning-center.png" alt="Learning Center" />
                </div>
                <div class="col-sm-6 col-md-8 desc">
                    <h3 class="am-heading" translate="amhealth.learningcenter"></h3>
                    <p translate="amhealth.learningcenterdesc"></p>
                </div>
                <div class="col-sm-3 col-md-2 btn-container">
                    <a [href]="config.appDomain+'learning-center'" target="_blank" class="btn btn-primary"><span translate="buttons.trynow"></span> <span class="fa fa-angle-right"></span></a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 am-health-section">
            <div class="row">
                <div class="col-sm-3 col-md-2 text-center">
                    <img src="../assets/images/dashboard/brain-shop.png" alt="Brain Shop" />
                </div>
                <div class="col-sm-6 col-md-8 desc">
                    <h3 class="am-heading" translate="amhealth.brainshop"></h3>
                    <p translate="amhealth.brainshopdesc"></p>
                </div>
                <div class="col-sm-3 col-md-2 btn-container">
                    <a [href]="config.appDomain+'brain-shop'" target="_blank" class="btn btn-primary"><span translate="buttons.trynow"></span> <span class="fa fa-angle-right"></span></a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 am-health-section">
            <div class="row">
                <div class="col-sm-3 col-md-2 text-center">
                    <img src="../assets/images/dashboard/support-groups.png" alt="Support Groups" />
                </div>
                <div class="col-sm-6 col-md-8 desc">
                    <h3 class="am-heading" translate="amhealth.supportgroups"></h3>
                    <p translate="amhealth.supportgroupsdesc"></p>
                </div>
                <div class="col-sm-3 col-md-2 btn-container">
                    <a [href]="config.appDomain+'support-groups'" target="_blank" class="btn btn-primary"><span translate="buttons.trynow"></span> <span class="fa fa-angle-right"></span></a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 am-health-section">
            <div class="row">
                <div class="col-sm-3 col-md-2 text-center">
                    <img src="../assets/images/dashboard/demographic.png" alt="Demographics" />
                </div>
                <div class="col-sm-6 col-md-8 desc">
                    <h3 class="am-heading" translate="amhealth.demographics"></h3>
                    <p translate="amhealth.demographicsdesc"></p>
                </div>
                <div class="col-sm-3 col-md-2 btn-container">
                    <a [href]="config.appDomain+'demograph'" target="_blank" class="btn btn-primary"><span translate="buttons.trynow"></span> <span class="fa fa-angle-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>