<header class="carousel slide top-slider" id="myCarousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
        <li data-slide-to="1" data-target="#myCarousel" class=""></li>
        <li data-slide-to="2" data-target="#myCarousel" class=""></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner ">
        <div class="item active">
            <div class="container">
                <div class="carousel-image-container container-1">
                    <img src="../../assets/images/home/depression.png" alt="">
                </div>
                <div class="carousel-caption">
                    <h2>
                        <span class="blue-color-heading" translate="homepage.slide1blueheading"></span><br>
                    </h2>
                    <p translate="homepage.slide1description1"></p>
                    <p translate="homepage.slide1description2"></p>
                    <a class="btn btn-lg btn-primary hvr-float-shadow" routerLink="/depression" translate="buttons.learnmore"></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-image-container container-2">
                        <img src="../../assets/images/home/stress.png" alt="">
                    </div>
                <div class="carousel-caption">
                    <h2>
                        <span class="blue-color-heading" translate="homepage.slide2blueheading"></span><br>
                    </h2>
                    <p translate="homepage.slide2description1"></p>
                    <p translate="homepage.slide2description2"></p>
                    <a class="btn btn-lg btn-primary hvr-float-shadow" routerLink="/stress" translate="buttons.starttoday"></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-image-container container-3">
                        <img src="../../assets/images/home/memory.png" alt="">
                    </div>
                <div class="carousel-caption">
                    <h2>
                        <span class="blue-color-heading" translate="homepage.slide3blueheading"></span><br>
                    </h2>
                    <p translate="homepage.slide3description1"></p>
                    <p translate="homepage.slide3description2"></p>
                    <a class="btn btn-lg btn-primary hvr-float-shadow" [href]="config.appDomain+'psychoterapy'" target="_blank" translate="buttons.conductmemoryanalysis"></a>
                </div>
            </div>
        </div>
    </div>

    <p class="move-down">
        <a class="page-scroll" [attr.data-target]="'.brain9d'">
            <img src="../../assets/images/scroll_down.png" />
        </a>
    </p>

</header>

<!-- what is brain9d section -->
<app-brain9d-section></app-brain9d-section>

<!-- Marketing messaging and featurettes -->
<app-hiw-section></app-hiw-section>

<div class="clearfix"></div>

<!-- Get started section -->
<app-get-started></app-get-started>

<!-- <app-testimonials></app-testimonials> -->

<div class="clearfix"></div>

<!-- Post Add -->
<app-post-ad></app-post-ad>
<!-- Post Add End -->

<!-- <script type="text/javascript">
    $(document).ready(function() {
        //carousel options
        $('#myCarousel').carousel({
            pause: true,
            interval: 8000,
        });
        $('#quote-carousel').carousel({
            pause: true,
            interval: 10000,
        });
        $('a').tooltip();
    });
</script> -->