.page-scroll > img {
    background: #00acb8;
    border-radius: 50%;
}

.carousel-image-container {
    display: none;
    text-align: center;
    padding-top: 115px
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 768px) 
and (orientation : portrait) { 
    .carousel-image-container {
        display: block;
    }
    .carousel-image-container > img{
        max-height: 325px;
    }
}