<!-- main body section -->
<div class="main-content-area container">
    <h3 class="faq-heading" translate="disclaimerandcopyrightspage.heading"></h3>
    <p translate="disclaimerandcopyrightspage.firstpara"></p>
    <p>
        <span translate="disclaimerandcopyrightspage.secondpara1"></span>
        <a href="mailto:ip@brain9d.com">ip@brain9d.com</a>
        <span translate="disclaimerandcopyrightspage.secondpara2"></span>
    </p>
    <p id="year"><span translate="headerfooter.footercopyrights"></span> &copy; <span class="year"></span> </p>

</div>
<script>
    var d = new Date();
    $("#year span.year").text(d.getFullYear());
</script>