.membership {
    text-align: center;
}
.membership img {
    display: block;
    margin: 30px auto;
}
.membership .note {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
p > a.custom-small-btn {
    min-width: 200px;
}