<div class="container membership">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="faq-heading" translate="membershippage.heading"></h3>
      <h4 class="note" translate="membershippage.note"></h4>
      <p class="para" translate="membershippage.para1"></p>
      <img class="" src="../../assets/images/membership/face.png" alt="membership" />
      <p>
        <a class="btn custom-small-btn btn-primary hvr-float-shadow" [href]="config.appDomain+'signup'" target="_blank" translate="buttons.signupnow"></a>
      </p>
      <br><br>
      <p class="text-justify para" translate="membershippage.para2"></p>
    </div>
  </div>
</div>
